<!-- ko with: user -->
  <span data-bind="visible: !$parent.space().showSpace() == true" class="swm-welcome-registration">
    <a href="#CC-headermodalpane" data-original-title="registration" data-bind="click:$parent.clickRegistration.bind($parent)" data-toggle="modal" data-backdrop="static">
      <button class="btn cc-button-secondary" data-bind="widgetLocaleText: 'buttonCreateAccount'"></button></a>
  </span>
<!-- /ko -->