<!--
 /**
  *
  * Product Details Agent Template
  *
  */
-->

<!-- ko if: loaded -->
<div class="templateRegion" id="cc-product-details" data-oc-id="cc-product-details" data-bind="css:scrollClass">
<!-- ko if: product -->

  <!-- ko if: showProductDetails -->
  <!-- oc layout: panels -->
  <div class="row">

    <div class="oc-panel col-md-6" data-oc-id="panel-0-0">

      <!-- oc section: agent-product-details-product-image -->
        <div data-bind="element: 'agent-product-details-product-image'" class="text-center"></div>
      <!-- /oc -->

      <!-- oc section: agent-product-details-product-long-description -->
        <div data-bind="element: 'agent-product-details-product-long-description'"></div>
      <!-- /oc -->

      <!-- oc section: dynamic-property -->
        <!-- ko if:showProductProperties() -->
          <!-- ko setContextVariable:{name:'context', value: $data.productProperties} -->
            <div class="product-properties" data-bind="element: 'dynamic-property'"></div>
           <!--/ko-->
        <!--/ko-->
      <!-- /oc -->

      <!-- oc section: agent-product-details-product-stock-status-table --><div data-bind="element: 'agent-product-details-product-stock-status-table'"></div>
      <!-- /oc -->

    </div>


    <div class="oc-panel col-md-6" data-oc-id="panel-0-1">

      <!-- oc section: agent-product-details-product-title -->
        <h2 data-bind="element: 'agent-product-details-product-title'" class="productTitle"></h2>
      <!-- /oc -->

      <!-- oc section: agent-product-details-product-price -->
      <div data-bind="if: !priceRange() && (!salePrice || salePrice() === null)" data-oc-id="product-list-price-only" role="alert">
        <span data-bind="element: 'agent-product-details-product-list-price'"></span>
      </div>

      <div data-bind="if: !priceRange() && (salePrice && salePrice() !== null)" data-oc-id="product-on-sale" role="alert">
        <span data-bind="element: 'agent-product-details-product-sale-price'"></span>
      </div>

        <div data-bind="if: priceRange()" data-oc-id="product-price-varies" role="alert">
          <span data-bind="element: 'agent-product-details-product-price-range'"></span>
        </div>
      <!-- /oc -->

      <!-- oc section: agent-product-details-product-shipping-surcharge -->
        <div data-bind="if: shippingSurcharge()">
          <span data-bind="element: 'agent-product-details-product-shipping-surcharge'"></span>
        </div>
      <!-- /oc -->

      <!-- oc section: agent-product-details-product-description -->
        <div data-bind="element: 'agent-product-details-product-description'"></div>
      <!-- /oc -->

      <!-- oc section: volume-pricing -->
        <div data-bind="element: 'volume-pricing'"></div>
      <!-- /oc -->

      <!-- oc section: agent-product-details-product-variants -->
        <div data-bind="element: 'agent-product-details-product-variants'"></div>
      <!-- /oc -->

      <!-- oc section: agent-product-details-product-quantity -->
        <div data-bind="element: 'agent-product-details-product-quantity'"></div>
      <!-- /oc -->

      <!-- oc section: agent-product-details-product-stock-availability -->
        <div data-bind="if: (showStockStatus() && stockStatus() && stockState()==='IN_STOCK')" data-oc-id="product-in-stock">
          <div data-bind="element: 'agent-product-details-product-in-stock-message'"></div>
        </div>

        <div data-bind="if: (showStockStatus() && !stockStatus() )" data-oc-id="product-out-of-stock">
          <div data-bind="element: 'agent-product-details-product-out-of-stock-message'"></div>
        </div>
        <div data-bind="if: (showStockStatus() && stockStatus() && stockState()==='PREORDERABLE')" data-oc-id="product-preorder">
          <div data-bind="element: 'agent-product-details-product-preorder-message'"></div>
        </div>
        <div data-bind="if: (showStockStatus() && stockStatus() && stockState()==='BACKORDERABLE' )" data-oc-id="product-backorder">
          <div data-bind="element: 'agent-product-details-product-backorder-message'"></div>
        </div>
      <!-- /oc -->

      <!-- oc section: agent-product-details-product-add-to-cart -->
        <div data-bind="element: 'agent-product-details-product-add-to-cart'"></div>
      <!-- /oc -->

      <!-- oc section: agent-product-details-product-addons --><div data-bind="element: 'agent-product-details-product-addons'"></div>
      <!-- /oc -->

      <!-- oc section: add-to-purchase-list --><div data-bind="element: 'add-to-purchase-list'"></div>
      <!-- /oc -->
      
      <!-- oc section: dynamic-property -->
        <!--  ko if:showSkuProperties() -->
          <!-- ko setContextVariable:{name:'context', value: $data.skuProperties} -->
            <div class="sku-properties" data-bind="element: 'dynamic-property'"></div>
          <!--/ko-->
        <!--/ko-->
      <!-- /oc -->

      <!-- oc section: agent-product-details-product-configure --><div data-bind="element: 'agent-product-details-product-configure'"></div>
      <!-- /oc -->

    </div>


  </div>
  <!-- /oc -->
  <!-- /ko -->

<!-- /ko -->
</div>
<!-- /ko -->
