<!-- ko if: !($data.cart().orderShippingGroups() && $data.cart().orderShippingGroups().length > 1) || $data.cart().isSplitShipping() -->
<div id="CC-organizationAddressSelector">
    <div id="CC-organizationShippingAddressSelector">
        <!-- ko if: (includeShippingInformation()) -->
        <legend>
            <span class="legendText" data-bind="widgetLocaleText:'shippingAddressText'"></span>
            <!-- ko if: user().loggedIn() && showAddressBook -->
            <!-- ko with: order().shippingAddress -->
            <button href="#cc-orderAddressModal" data-toggle="modal" class="cc-button-primary pull-right" 
            style="margin-left: 2px;" data-bind="click: $parent.showAddressDetails.bind($parent,$data),
               attr: { title : $parent.translate('viewAddressToolTipText'),
               id: 'cc-viewButton-shipping-address'} " >
                <i class="fa fa-info-circle"></i> <span class="sr-only"></span>
            </button>
            <!-- /ko -->
            <!-- ko if:(userIsProfileAddressManager() || userIsAccountAddressManager()) -->
            <span class="pull-right">				        	      		
      		<button class="cc-button-primary" id="shippingAddressEditButton" data-bind="click: $data.confirmUnsavedChangesEditButton.bind($data, $element.id), attr:{'disabled' : !$data.shippingAddressSelected()}, widgetLocaleText : {value: 'lockIconScreenMessage', attr: 'aria-label', attr: 'title' }">
      			<!-- ko ifnot: editShippingAddress -->
      				<i class="fa fa-lock" aria-hidden="true"></i>
      			<!-- /ko -->
      			<!-- ko if: editShippingAddress -->
      				<i class="fa fa-unlock-alt" aria-hidden="true"></i>
      			<!-- /ko -->
      		</button>
      	</span>
            <!-- /ko -->
            <!-- /ko -->

        </legend>
        <!-- ko ifnot: (userIsProfileAddressManager() || userIsAccountAddressManager()) -->
        <fieldset id="CC-organizationShippingAddress" data-bind="disable: !(order().isOrderEditable())">
            <!-- ko with: order().shippingAddress -->
            <div class="form-group col-sm-4">
                <label class="control-label inline" for="CC-organizationAddressSelector-shippingFirstName" data-bind="widgetLocaleText:'firstNameText'"></label>
                <span class="text-danger visible-xs" id="CC-xs-organizationAddressSelector-shippingFirstName-error" data-bind="validationMessage: firstName" role="alert"></span>
                <div class="control">
                    <input type="text" class="col-md-12 form-control" name="shippingFirstName" id="CC-organizationAddressSelector-shippingFirstName" aria-required="true" data-bind="validatableValue: firstName, widgetLocaleText : {value:'firstNameText', attr:'placeholder'}">
                </div>
            </div>
            <div class="form-group col-sm-4">
                <label class="control-label inline" for="CC-organizationAddressSelector-shippingLastName" data-bind="widgetLocaleText:'lastNameText'"></label>
                <span class="text-danger visible-xs" id="CC-xs-organizationAddressSelector-shippingLastName-error" data-bind="validationMessage: lastName" role="alert"></span>
                <div class="control">
                    <input type="text" class="col-md-12 form-control" name="sLastName" id="CC-organizationAddressSelector-shippingLastName" aria-required="true" data-bind="validatableValue: lastName, widgetLocaleText : {value:'lastNameText',attr:'placeholder'}">
                </div>
            </div>
            <div class="col-md-4 hidden-xs">
                <p class="text-danger" id="CC-organizationAddressSelector-shippingFirstName-error" data-bind="validationMessage: firstName" role="alert"></p>
                <p class="text-danger" id="CC-organizationAddressSelector-shippingLastName-error" data-bind="validationMessage: lastName" role="alert"></p>
            </div>
            <!-- /ko -->
        </fieldset>
        <div class="defaultAddresses addressselection" id="CC-shippingAddressSelection">
            <!-- ko with: order().shippingAddress -->
            <div>
                <div>
                    <span class="organization-address">
           <b> <span class="address-field" data-bind="text: address1"></span></b>
                    <!-- ko if: address2 -->
                    <b><span class="address-field" data-bind="text: address2"></span></b>
                    <!-- /ko -->
                    <!-- ko if: address3 -->
                    <br /> <span class="address-field" data-bind="text: address3"></span>
                    <!-- /ko -->
                    <!-- ko if: county -->
                    <br /> <span class="address-field" data-bind="text: county"></span>
                    <!-- /ko -->
                    <!-- ko if: city -->
                    <b> <span class="address-field" data-bind="text: city"></span>,</b>
                    <!-- /ko -->
                    <b> <span class="address-field" data-bind="text: state"></span></b>
                    </span>
                </div>
            </div>
            <!-- /ko -->
            <!-- ko if: organizationAddressBook().length === 0 -->
            <span data-bind="widgetLocaleText: 'noAddressesText'"></span>
            <!-- /ko -->
        </div>
        <!-- /ko -->
        <!-- ko if: (userIsProfileAddressManager() || userIsAccountAddressManager()) -->
        <!-- ko with: order().shippingAddress -->
        <div class="row first-row">
            <div class="form-group col-sm-8">
                <label class="control-label inline" for="CC-orgAddressType" data-bind="widgetLocaleText:'nickNamePlaceHolderText'"></label>
                <span class="text-danger visible-xs" id="CC-checkoutAddressBook-addressType-error-1" data-bind="validationMessage: type" role="alert"></span>
                <div class="control">
                    <input id="CC-orgAddressType" type="text" class="form-control input-md" aria-required="true" data-bind="validatableValue: type, widgetLocaleText: {value : 'nickNamePlaceHolderText', attr : 'placeholder'},attr: { 'disabled': !$parent.editShippingAddress() }">
                </div>
            </div>
            <div class="col-sm-4 hidden-xs">
                <p class="text-danger" id="CC-checkoutAddressBook-addressType-error-2" data-bind="validationMessage: type" role="alert"></p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4">
                <label class="control-label inline" for="CC-checkoutAddressBook-sfirstname" data-bind="widgetLocaleText:'firstNameText'"></label>

                <span class="text-danger visible-xs" id="CC-checkoutAddressBook-phone-sfirstname-error" data-bind="validationMessage: firstName" role="alert"></span>
                <div class="control">
                    <input type="text" class="col-md-12 form-control" name="sFirstName" id="CC-checkoutAddressBook-sfirstname" aria-required="true" data-bind="validatableValue: firstName, widgetLocaleText : {value:'firstNameText', attr:'placeholder'},disable: !($parent.order().isOrderEditable())">
                </div>
            </div>
            <div class="form-group col-sm-4">
                <label class="control-label inline" for="CC-checkoutAddressBook-slastname" data-bind="widgetLocaleText:'lastNameText'"></label>
                <span class="text-danger visible-xs" id="CC-checkoutAddressBook-phone-slastname-error" data-bind="validationMessage: lastName" role="alert"></span>
                <div class="control">
                    <input type="text" class="col-md-12 form-control" name="sLastName" id="CC-checkoutAddressBook-slastname" aria-required="true" data-bind="validatableValue: lastName, widgetLocaleText : {value:'lastNameText',attr:'placeholder'},disable: !($parent.order().isOrderEditable())">
                </div>
            </div>
            <div class="col-sm-4 hidden-xs">
                <p class="text-danger" id="CC-checkoutAddressBook-sfirstname-error" data-bind="validationMessage: firstName" role="alert"></p>
                <p class="text-danger" id="CC-checkoutAddressBook-slastname-error" data-bind="validationMessage: lastName" role="alert"></p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-8">
                <span class="text-danger visible-xs" id="CC-checkoutAddressBook-phone-companyName-error" data-bind="validationMessage: companyName" role="alert"></span>
                <input id="companyName" type="text" class="form-control input-md" data-bind="validatableValue: companyName, widgetLocaleText: {value : 'companyNamePlaceHolderText', attr : 'placeholder'},attr: { 'disabled': !$parent.editShippingAddress() }" required="required" placeholder="Nick Name" title="Nick Name">
            </div>
            <div class="col-sm-4 hidden-xs">
                <p class="text-danger" id="CC-checkoutAddressBook-companyName-error" data-bind="validationMessage: companyName" role="alert"></p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-8">
                <label class="control-label inline" for="CC-checkoutAddressBook-scountry" data-bind="widgetLocaleText:'countryText'"></label>
                <span class="text-danger visible-xs" id="CC-checkoutAddressBook-phone-scountry-error" data-bind="validationMessage: country" role="alert"></span>
                <div class="control">
                    <select class="col-md-12 form-control" name="sCountry" id="CC-checkoutAddressBook-scountry" aria-required="true" data-bind="enable: $parent.shippingCountriesPriceListGroup().length, options: $parent.shippingCountriesPriceListGroup, optionsText: 'displayName',
                             optionsValue: 'countryCode', optionsCaption: $parent.resources().countryText, value: selectedCountry, 
                             validatableTarget: country, validationElement: country, attr: { 'disabled': !$parent.editShippingAddress() }">
                    </select>
                </div>
            </div>
            <div class="col-sm-4 hidden-xs">
                <p class="text-danger" id="CC-checkoutAddressBook-scountry-error" data-bind="validationMessage: country" role="alert"></p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-8">
                <label class="control-label inline" for="CC-checkoutAddressBook-saddress1" data-bind="widgetLocaleText:'addressLine1Text'"></label>
                <span class="text-danger visible-xs" id="CC-checkoutAddressBook-phone-saddress1-error" data-bind="validationMessage: address1" role="alert"></span>
                <div class="control">
                    <input type="text" class="col-md-12 form-control" name="sAddressLine1" id="CC-checkoutAddressBook-saddress1" aria-required="true" data-bind="validatableValue: address1, widgetLocaleText:{value:'addressLine1Text',attr:'placeholder'}, attr: { 'disabled': !$parent.editShippingAddress() }">
                </div>
            </div>
            <div class="col-sm-4 hidden-xs">
                <p class="text-danger" id="CC-checkoutAddressBook-saddress1-error" data-bind="validationMessage: address1" role="alert"></p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-8">
                <label class="control-label inline" for="CC-checkoutAddressBook-saddress2" data-bind="widgetLocaleText:'addressLine2Text'"></label>
                <span class="text-danger visible-xs" id="CC-checkoutAddressBook-phone-saddress2-error" data-bind="validationMessage: address2" role="alert"></span>
                <div class="control">
                    <input type="text" class="col-md-12 form-control" name="sAddressLine2" id="CC-checkoutAddressBook-saddress2" data-bind="validatableValue: address2, widgetLocaleText:{value:'addressLine2Text',attr:'placeholder'}, attr: { 'disabled': !$parent.editShippingAddress() }">
                </div>
            </div>
            <div class="col-md-4 hidden-xs">
                <p class="text-danger" id="CC-checkoutAddressBook-saddress2-error" data-bind="validationMessage: address2" role="alert"></p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-8">
                <label class="control-label inline" for="CC-checkoutAddressBook-saddress3" data-bind="widgetLocaleText:'addressLine3Text'"></label> <span class="text-danger visible-xs" id="CC-checkoutAddressBook-phone-saddress3-error" data-bind="validationMessage: address3" role="alert"></span>
                <div class="control">
                    <input type="text" class="col-md-12 form-control" name="sAddressLine3" id="CC-checkoutAddressBook-saddress3" data-bind="validatableValue: address3, widgetLocaleText:{value:'addressLine3Text',attr:'placeholder'}, attr: { 'disabled': !$parent.editShippingAddress()}">
                </div>
            </div>
            <div class="col-md-4 hidden-xs">
                <p class="text-danger" id="CC-checkoutAddressBook-saddress3-error" data-bind="validationMessage: address3" role="alert"></p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-8">
                <label class="control-label inline" for="CC-checkoutAddressBook-scounty" data-bind="widgetLocaleText:'countyText'"></label> <span class="text-danger visible-xs" id="CC-checkoutAddressBook-phone-scounty-error" data-bind="validationMessage: county" role="alert"></span>
                <div class="control">
                    <input type="text" class="col-md-12 form-control" name="sCounty" id="CC-checkoutAddressBook-scounty" data-bind="validatableValue: county, widgetLocaleText:{value:'countyText',attr:'placeholder'}, attr: { 'disabled': !$parent.editShippingAddress()}">
                </div>
            </div>
            <div class="col-md-4 hidden-xs">
                <p class="text-danger" id="CC-checkoutAddressBook-scounty-error" data-bind="validationMessage: county" role="alert"></p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4">
                <label class="control-label inline" for="CC-checkoutAddressBook-scity" data-bind="widgetLocaleText:'cityText'"></label>
                <span class="text-danger visible-xs" id="CC-checkoutAddressBook-phone-scity-error" data-bind="validationMessage: city" role="alert"></span>
                <div class="control">
                    <input type="text" class="col-md-12 form-control" name="sCity" id="CC-checkoutAddressBook-scity" aria-required="true" data-bind="validatableValue: city, widgetLocaleText:{value:'cityText',attr:'placeholder'}, attr: { 'disabled': !$parent.editShippingAddress() }">
                </div>
            </div>
            <div class="form-group col-sm-4">
                <label class="control-label inline" for="CC-checkoutAddressBook-sstate" data-bind="widgetLocaleText:'stateText'"></label>
                <span class="text-danger visible-xs" id="CC-checkoutAddressBook-phone-sstate-error" data-bind="validationMessage: state" role="alert"></span>
                <div class="control">
                    <select class="col-md-12 form-control" name="sState" id="CC-checkoutAddressBook-sstate" aria-required="true" data-bind="enable: (stateList().length && $parent.editShippingAddress()), options: stateList, optionsText: 'displayName', optionsValue: 'abbreviation',
                             optionsCaption: $parent.resources().stateRegionText, value: selectedState, 
                             validatableTarget: state, validationElement: state">
                    </select>
                </div>
            </div>
            <div class="col-sm-4 hidden-xs">
                <p class="text-danger" id="CC-checkoutAddressBook-scity-error" data-bind="validationMessage: city" role="alert"></p>
                <p class="text-danger" id="CC-checkoutAddressBook-sstate-error" data-bind="validationMessage: state" role="alert"></p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4">
                <label class="control-label inline" for="CC-checkoutAddressBook-szipcode" data-bind="widgetLocaleText:'zipCodeText'"></label>
                <span class="text-danger visible-xs" id="CC-checkoutAddressBook-phone-szipcode-error" data-bind="validationMessage: postalCode" role="alert"></span>
                <div class="control">
                    <input type="text" class="col-md-12 form-control" name="sZip" id="CC-checkoutAddressBook-szipcode" aria-required="true" data-bind="validatableValue: postalCode, widgetLocaleText:{value:'zipCodeText',attr:'placeholder'}, attr: { 'disabled': !$parent.editShippingAddress() }">
                </div>
            </div>
            <div class="form-group col-sm-4">
                <label class="control-label inline" for="CC-checkoutAddressBook-sphone" data-bind="widgetLocaleText:'phoneNumberText'"></label>
                <span class="text-danger visible-xs" id="CC-checkoutAddressBook-phone-sphone-error" data-bind="validationMessage: phoneNumber" role="alert"></span>
                <div class="control">
                    <input type="tel" class="col-md-12 form-control" name="sPhone" id="CC-checkoutAddressBook-sphone" data-bind="validatableValue: phoneNumber, widgetLocaleText:{value:'phoneNumberText',attr:'placeholder'}, attr: { 'disabled': !$parent.editShippingAddress() }">
                </div>
            </div>
            <div class="col-sm-4 hidden-xs">
                <p class="text-danger" id="CC-checkoutAddressBook-szipcode-error" data-bind="validationMessage: postalCode" role="alert"></p>
                <p class="text-danger" id="CC-checkoutAddressBook-sphone-error" data-bind="validationMessage: phoneNumber" role="alert"></p>
            </div>
        </div>
        <!-- ko if: $data.dynamicProperties && $data.dynamicProperties().length > 0 -->
        <fieldset id="cc-shippingAddress-update-dynamic-properties" data-bind="disable: !$parent.editShippingAddress()">
            <div>
                <!-- ko with: $parent -->
                <!-- ko setContextVariable:{name:'context', value: order().shippingAddress().dynamicProperties} -->
                <div data-bind="element:'dynamic-property', attr: { id: 'dynamic-property-grid-' + $data.id()} "></div>
                <!-- /ko -->
                <!-- /ko -->
            </div>
        </fieldset>
        <!-- /ko -->

        <fieldset id="CC-radioButtonsShippingAddress" data-bind="visible: ($parent.order().isOrderEditable() && $parent.editShippingAddress() )">
            <div class="form-group">
                <!-- ko if:$parent.userIsProfileAddressManager -->
                <div class="radio">
                    <label>
                        <input type="radio" class="form control" name="addShippingAddressTo" data-bind="value: 'profileAddresses', checked: $parent.addShippingAddressTo, attr: { 'disabled': (!$parent.editShippingAddress() || !$parent.userIsAccountAddressManager()) }" />
                        <span data-bind="widgetLocaleText: 'saveToProfileText'"></span>
                    </label>
                </div>
                <!-- /ko -->
                <!-- ko if:$parent.userIsAccountAddressManager -->
                <div class="radio">
                    <label>
                        <input type="radio" class="form control" name="addShippingAddressTo" data-bind="value:'accountAddresses', checked: $parent.addShippingAddressTo, attr: { 'disabled': (!$parent.editShippingAddress() || !$parent.userIsProfileAddressManager()) }" />
                        <span data-bind="widgetLocaleText:{value:'saveToAccountText', attr: 'innerText', params: {companyName:$parent.user().currentOrganization().name}}"></span>
                    </label>
                </div>
                <!-- /ko -->
            </div>
        </fieldset>
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko if:$data.includeUseAsBillingAddress() -->
         <div class=" checkbox">
           <label for="CC-checkoutAddressBook-useAsBillAddress">
             <input type="checkbox" name="useAsBillAddress" 
                    data-bind="checked: useAsBillAddress" id="CC-checkoutAddressBook-useAsBillAddress" 
                    class="checkbox" >
                <span data-bind="widgetLocaleText:'useBillingAddressText'"></span>
             </label>
         </div>
         <!-- /ko -->
        <!-- /ko -->
    </div>
    <br>

    <!-- ko if: (includeShippingInformation()) -->
    <!-- ko if: user().loggedIn() && showAddressBook -->
    <button class="cc-button-primary" id="cc-checkout-show-address-book" href="#CC-shippingAddressBook-picker" data-toggle="modal">
        <span data-bind="widgetLocaleText: 'addressBookText'"></span>
    </button>
    <!-- /ko -->
    <div class="modal fade" id="CC-shippingAddressBook-picker" data-bind="modal: 0, modalTabbingContraint">
        <div class="modal-dialog">
            <div class="modal-content col-md-12 col-sm-12">
                <button type="button" class="close" style="padding: 10px;position: relative;color: #000;text-decoration: none;cursor: pointer;opacity: 2;background: transparent;border: 0;-webkit-appearance: none;float: right;font-size: 21px;font-weight: bold;line-height: 1;text-shadow: 0 1px 0 #fff;font-family: inherit;text-transform: none;overflow: visible;margin: 0;font: inherit;box-sizing: border-box;outline: -webkit-focus-ring-color auto 5px;align-items: flex-start;text-align: center;text-rendering: auto;letter-spacing: normal;word-spacing: normal;display: inline-block;-webkit-writing-mode: horizontal-tb !important;background: #ffffff none top center no-repeat;background-attachment: fixed;text-decoration: none;background-color: #fff;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);box-sizing: border-box;" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="addressbook-header">
                    <h4 data-bind="widgetLocaleText: 'addressBookText'" style="MARGIN-LEFT: -7px;"></h4>
                </div>
                <div class="modal-body">
                    <div class="address">
                        <div class="defaultAddress">

                            <div style="background-color: #eee;margin-left: -1px;">
                                <span><label id="default-address-type-label" data-bind="widgetLocaleText: 'defaultAddressesLabel'"></label></span>
                            </div>
                            <div id="defaultAddresses">
                                <!-- ko ifnot: organizationAddressBook().length === 0 -->
                                <!-- ko foreach: organizationAddressBook -->
                                <div class="container-fluid" data-bind="if: (repositoryId === $parent.selectedShippingAddressId())">
                                    <address id="addressbook-content" class="shipping-address-view row row-padding">
				<div class="col-sm-9">
		 <span class="address-field" data-bind="text: $parent.defaultShippingAddressType()"></span></br>
		 <b> <span class="address-field" data-bind="text: companyName"></span>,</b>
                  <span class="address-field" data-bind="text: address1"></span>,
                  <!-- ko if: address2 -->
                    <span class="address-field" data-bind="text: address2"></span>,
                  <!-- /ko -->
                  <!-- ko if: address3 -->
                     <br /> <span class="address-field" data-bind="text: address3"></span>
                     <!-- /ko -->
                     <!-- ko if: county -->
                     <br /> <span class="address-field" data-bind="text: county"></span>
                     <!-- /ko -->
                  <span class="address-field" data-bind="text: city"></span>, <span class="address-field" data-bind="text: state"></span>, <span class="address-field" data-bind="text: postalCode"></span>,
                  <span class="address-field" data-bind="text: country"></span>,
                  <!-- ko if: phoneNumber -->

                    <span class="address-field" data-bind="text: phoneNumber"></span>
                  <!-- /ko -->
                  </div>
                  <div class="col-sm-3 pull-right">
                  <button class="btn btn-primary select-button" tabindex="1"
                          data-bind="click: $parent.confirmUnsavedChangesSelectNewAddress.bind($data, $element.id,$parent),
                                     attr: {id: 'cc-checkout-select-shipping-address-organization' + $index()}">
                      <span data-bind="widgetLocaleText: 'selectAddressText'"></span>
                  </button>
                  </div>
                </address>
                                    <hr>
                                </div>
                                <!-- /ko -->
                                <!-- /ko -->
                                <!-- ko ifnot: hasDefaultShippingAddress() -->
                                <div class="container-fluid">
                                    <span data-bind="widgetLocaleText: 'noDefaultShippingAddressesText'"></span>
                                </div>
                                <!-- /ko -->
                            </div>
                        </div>

                        <div class="profileShippingAddress collapse-heading">
                            <div style="background-color: #eee;margin-left: -1px;">
                                <span class="collapse-toggle collapsed" data-toggle="collapse" data-target="#profileAddresses"><label id="profile-address-type-label" data-bind="widgetLocaleText: 'profileAddressLabel'"></label></span>
                            </div>
                            <div id="profileAddresses" class="collapse">
                                <!-- ko ifnot: profileAddressBook().length === 0 -->
                                <!-- ko foreach: profileAddressBook -->
                                <address id="profile-shipping-addressbook-content" class="shipping-address-view container-fluid row-padding">
                <div class="row">
                  <div class="col-sm-9">
                  <span class="address-field" data-bind="text: type"></span></br>
                  <span data-bind="text: firstName"></span>
                  <span data-bind="text: lastName"></span></br>
                  <b> <span class="address-field" data-bind="text: companyName"></span> </b>
                  <span class="address-field" data-bind="text: address1"></span>,
                  <!-- ko if: address2 -->
                    <span class="address-field" data-bind="text: address2"></span>,
                  <!-- /ko -->
                  <!-- ko if: address3 -->
                     <br /> <span class="address-field" data-bind="text: address3"></span>
                     <!-- /ko -->
                     <!-- ko if: county -->
                     <br /> <span class="address-field" data-bind="text: county"></span>
                     <!-- /ko -->
                  <span class="address-field" data-bind="text: city"></span>, 
                  <span class="address-field" data-bind="text: state"></span>, 
                  <span class="address-field" data-bind="text: postalCode"></span>,
                  <span class="address-field" data-bind="text: country"></span>,
                  <!-- ko if: phoneNumber -->
                    <span class="address-field" data-bind="text: phoneNumber"></span>
                  <!-- /ko -->
                  </div>
                  <div class="col-sm-3 pull-right">
                  <button class="btn btn-primary select-button" tabindex="1"
                          data-bind="click: $parent.confirmUnsavedChangesSelectNewAddress.bind($data, $element.id,$parent),
                                     attr: {id: 'cc-checkout-select-shipping-address-profile' + $index()}">
                      <span data-bind="widgetLocaleText: 'selectAddressText'"></span>
                  </button>
                  </div>
                  </div>
                </address>
                                <hr>
                                <!-- /ko -->
                                <!-- ko if: loadMoreProfileAddresses() -->
                                <div class="row zeroMargin">
                                    <a data-bind="click: $data.loadProfileAddresses, widgetLocaleText: 'loadMoreText'" class="text-underline" href="">
                                    </a>
                                </div>
                                <!-- /ko -->
                                <!-- /ko -->
                                <!-- ko if: profileAddressBook().length === 0 -->
                                <span class="noAddressLabel" data-bind="widgetLocaleText: 'noProfileAddressesText'"></span>
                                <!-- /ko -->
                            </div>
                        </div>

                        <div class="accountAddress collapse-heading">
                            <div style="background-color: #eee;margin-left: -1px;">
                                <span class="collapse-toggle collapsed" data-toggle="collapse" data-target="#accountAddresses"><label id="account-address-type-label" data-bind="widgetLocaleText: 'accountAddressLabel'"></label></span>
                            </div>
                            <div id="accountAddresses" class="collapse">
                                <!-- ko ifnot: accountAddressBook().length === 0 -->
                                <!-- ko foreach: accountAddressBook -->
                                <address data-bind="attr: {id :'account-addressbook-shipping-content' + $index()}" class="shipping-address-view container-fluid row-padding">
                <div class="row">
                  <div class="col-sm-9">
                  <span class="address-field" data-bind="text: type"></span></br>
                  <b> <span class="address-field" data-bind="text: companyName"></span> </b>
                  <span class="address-field" data-bind="text: address1"></span>,
                  <!-- ko if: address2 -->
                    <span class="address-field" data-bind="text: address2"></span>,
                  <!-- /ko -->
                  <!-- ko if: address3 -->
                     <br /> <span class="address-field" data-bind="text: address3"></span>
                     <!-- /ko -->
                     <!-- ko if: county -->
                     <br /> <span class="address-field" data-bind="text: county"></span>
                     <!-- /ko -->
                  <span class="address-field" data-bind="text: city"></span>, 
                  <span class="address-field" data-bind="text: state"></span>,
                  <span class="address-field" data-bind="text: postalCode"></span>,
                  <span class="address-field" data-bind="text: country"></span>,
                  <!-- ko if: phoneNumber -->
                    <span class="address-field" data-bind="text: phoneNumber"></span>
                  <!-- /ko -->
                  </div>
                  <div class="col-sm-3 pull-right">
                  <button class="btn btn-primary select-button" tabindex="1"
                          data-bind="click: $parent.confirmUnsavedChangesSelectNewAddress.bind($data, $element.id,$parent),
                                     attr: {id: 'cc-checkout-select-shipping-address-account' + $index()}">
                      <span data-bind="widgetLocaleText: 'selectAddressText'"></span>
                  </button>
                  </div>
                  </div>
                </address>
                                <hr>
                                <!-- /ko -->
                                <!-- ko if: loadMoreAccountAddresses() -->
                                <div class="row zeroMargin">
                                    <a data-bind="click: $data.loadAccountAddresses, widgetLocaleText: 'loadMoreText'" class="text-underline" href="">
                                    </a>
                                </div>
                                <!-- /ko -->
                                <!-- /ko -->
                                <!-- ko if: accountAddressBook().length === 0 -->
                                <span class="noAddressLabel" data-bind="widgetLocaleText: 'noAccountAddressesText'"></span>
                                <!-- /ko -->
                            </div>
                        </div>

                        <div class="inheritedAddress collapse-heading">
                            <div style="background-color: #eee;margin-left: -1px;">
                                <span class="collapse-toggle collapsed" data-toggle="collapse" data-target="#inheritedAddresses"><label id="inherited-address-type-label" data-bind="widgetLocaleText: 'inheritedAddressLabel'"></label></span>
                            </div>
                            <div id="inheritedAddresses" class="collapse">
                                <!-- ko ifnot: inheritedAddressBook().length === 0 -->
                                <!-- ko foreach: inheritedAddressBook -->
                                <address id="inherited-addressbook-shipping-content" class="shipping-address-view container-fluid row-padding">
                <div class="row">
                  <div class="col-sm-9">
                  <span class="address-field" data-bind="text: type"></span></br>
                  <b> <span class="address-field" data-bind="text: companyName"></span> </b>
                  <span class="address-field" data-bind="text: address1"></span>,
                  <!-- ko if: address2 -->
                    <span class="address-field" data-bind="text: address2"></span>,
                  <!-- /ko -->
                  <!-- ko if: address3 -->
                     <br /> <span class="address-field" data-bind="text: address3"></span>
                     <!-- /ko -->
                     <!-- ko if: county -->
                     <br /> <span class="address-field" data-bind="text: county"></span>
                     <!-- /ko -->
                  <span class="address-field" data-bind="text: city"></span>, 
                  <span class="address-field" data-bind="text: state"></span>, 
                  <span class="address-field" data-bind="text: postalCode"></span>,
                  <span class="address-field" data-bind="text: country"></span>,
                  <!-- ko if: phoneNumber -->
                    <span class="address-field" data-bind="text: phoneNumber"></span>
                  <!-- /ko -->
                  </div>
                  <div class="col-sm-3 pull-right">
                  <button class="btn btn-primary select-button" tabindex="1"
                          data-bind="click: $parent.confirmUnsavedChangesSelectNewAddress.bind($data, $element.id,$parent),
                                     attr: {id: 'cc-checkout-select-shipping-address-inherit' + $index()}">
                      <span data-bind="widgetLocaleText: 'selectAddressText'"></span>
                  </button>
                  </div>
                  </div>
                </address>
                                <hr>
                                <!-- /ko -->
                                <!-- ko if: showLoadMore() -->
                                <div class="col-md-12 col-sm-12">
                                    <a data-bind="click: $data.loadInheritedAddressess, widgetLocaleText: 'loadMoreText'" class="text-underline" href="">
                                    </a>
                                </div>
                                <!-- /ko -->
                                <!-- /ko -->
                                <!-- ko if: inheritedAddressBook().length === 0 -->
                                <span class="noAddressLabel" data-bind="widgetLocaleText: 'noInheritedAddressesText'"></span>
                                <!-- /ko -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /ko -->

    <div class="modal fade" id="CC-checkout-address-modal-1" tabindex="-1" role="alert" data-bind="modalTabbingContraint">
        <div class="modal-dialog" id="CC-checkout-address-modal-dialog-1">
            <div class="modal-content" id="CC-checkout-addressModalContent-1">
                <div class="modal-header cc-profile-modal-heading cc-profile-confirm-icon" id="CC-checkout-address-modal-header-1">
                    <button type="button" class="close" data-dismiss="modal" id="CC-checkout-address-modal-headerClose-1" aria-hidden="true">&times;</button>
                    <h4 data-bind="widgetLocaleText:'updateCacelModalTitle'" id="CC-checkout-address-modal-headerText-1"></h4>
                </div>
                <div class="modal-body cc-profile-body-modal" id="CC-customerProfile-modal-modalBody-1">
                    <p data-bind="widgetLocaleText:'updateCancelModalMessage'" align="center" id="CC-checkout-address-modal-bodyText-1"></p>
                </div>
                <div class="modal-footer cc-profile-modal-footer" id="CC-checkout-address-modal-footer-1">
                    <button class="btn cc-button-secondary" id="CC-checkout-address-modal-cancel-1" data-bind="click: $data.hideModal">
                        <span id="CC-checkout-address-modal-discard-1" data-bind="widgetLocaleText:'updateCancelModalClose'"></span>
                    </button>
                    <button class="btn cc-button-primary" id="CC-checkout-address-modal-submit-1" data-bind="click:$data.discardFromModal">
                        <span id="CC-checkout-address-modal-save-1" data-bind="widgetLocaleText:'continueText'"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Address book dynamic properties modal -->
    <div id="cc-show-address-details">
        <!-- ko if: $data.modalObject  -->
        <!-- ko setContextVariable:{name:'addressObject', value: $data.modalObject} -->
        <div class="modal fade" id="cc-showAddressDetailsModal" tabindex="-1" role="dialog">
            <div class="modal-dialog cc-modal-dialog">
                <div class="modal-content" style="overflow-y: auto;">
                    <div class="modal-header cc-margin-bottom" aria-labelledby="dialogTitleId"
                    style="padding: 0.85714rem;
      background-color: #f0f0f0;
      border-width: 0 0 1px 0;
      border-style: solid;
      border-bottom-color: #c4ced7;
      font-size: 1.42857rem;
      color: #252525;
      font-weight: normal;
      margin-bottom: 0px !important;">
                        <h3 id="cc-edit-addressDialogTitleId" data-bind="widgetLocaleText:'addressBookText'" style="line-height:20%;
     display: inline-block;"></h3>
                        <button type="button" class="close cc-modal-focus-out-active cc-popover-x" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    </div>
                    <div class="modal-body cc-modal-body" style="overflow: auto;
      position: relative;
      -webkit-overflow-scrolling: touch;
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;height: 490px !important;
      line-height: 0.8;
      max-width: 660px !important;
      max-height: 620px !important;
      border-radius: 5px !important;">
                        <!-- ko if: $addressObject.alias -->
                        <div class="col-md-12">
                            <label class="address-label" for="nick-name" data-bind="widgetLocaleText:'nickNameText'"></label>
                            <div class="address-data" id="cc-shippingAddress-nick-name"
                            style="margin-bottom: 20px;" data-bind="text: $addressObject.alias"></div>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: $addressObject.companyName -->
                        <div class="col-md-12">
                            <label class="address-label" for="company-name" 
                            style="
                            font-weight: bold;
                            color: #252525;
                            display: inline-block;
                            margin-bottom: 12px;"
                            data-bind="widgetLocaleText:'addressCompanyNameText'"></label>
                            <div class="address-data" id="cc-shippingAddress-company-name"
                            style="margin-bottom: 20px;" data-bind="text: $addressObject.companyName"></div>
                        </div>
                        <!-- /ko -->
                        <div class="col-md-12">
                            <label class="address-label" for="phoneNumber"
                            style="
                            font-weight: bold;
                            color: #252525;
                            display: inline-block;
                            margin-bottom: 12px;"
                            data-bind="widgetLocaleText:'phoneNumberText'"></label>
                            <div class="address-data" id="cc-shippingAddress-phoneNumber"
                            style="margin-bottom: 20px;" data-bind="text: $data.checkForEmptyString($addressObject.phoneNumber)"></div>
                        </div>
                        <div class="col-md-12">
                            <label class="address-label" for="address-one" 
                            style="
                            font-weight: bold;
                            color: #252525;
                            display: inline-block;
                            margin-bottom: 12px;"
                            data-bind="widgetLocaleText:'addressLine1Text'"></label>
                            <div class="address-data" id="cc-shippingAddress-address-one"
                            style="margin-bottom: 20px;" data-bind="text: $data.checkForEmptyString($addressObject.address1)"></div>
                        </div>
                        <div class="col-md-12">
                            <label class="address-label" for="address-two"
                            style="
                            font-weight: bold;
                            color: #252525;
                            display: inline-block;
                            margin-bottom: 12px;"
                            data-bind="widgetLocaleText:'addressLine2Text'"></label>
                            <div class="address-data" id="cc-shippingAddress-nick-name"
                            style="margin-bottom: 20px;" data-bind="text: $data.checkForEmptyString($addressObject.address2)"></div>
                        </div>
                        <div class="col-md-12">
                            <label class="address-label" for="address-three"
                            style="
                            font-weight: bold;
                            color: #252525;
                            display: inline-block;
                            margin-bottom: 12px;"
                            data-bind="widgetLocaleText:'addressLine3Text'"></label>
                            <div class="address-data" id="cc-shippingAddress-address-two" data-bind="text: $data.checkForEmptyString($addressObject.address3)"></div>
                        </div>
                        <div class="col-sm-6">
                            <label class="address-label" for="city"
                            style="
                            font-weight: bold;
                            color: #252525;
                            display: inline-block;
                            margin-bottom: 12px;"
                            data-bind="widgetLocaleText:'cityText'"></label>
                            <div class="address-data" id="cc-shippingAddress-city"style="margin-bottom: 20px;"
                             data-bind="text: $addressObject.city"></div>
                        </div>
                        <div class="col-sm-6">
                            <label class="address-label" for="zip-code"
                            style="
                            font-weight: bold;
                            color: #252525;
                            display: inline-block;
                            margin-bottom: 12px;"
                            data-bind="widgetLocaleText:'zipCodeText'"></label>
                            <div class="address-data" id="cc-shippingAddress-zip-code"
                            style="margin-bottom: 20px;" data-bind="text: $addressObject.postalCode"></div>
                        </div>
                        <div class="col-sm-6">
                            <label class="address-label" for="county"
                            style="
                            font-weight: bold;
                            color: #252525;
                            display: inline-block;
                            margin-bottom: 12px;"
                            data-bind="widgetLocaleText:'countyText'"></label>
                            <div class="address-data" id="cc-shippingAddress-county"
                            style="margin-bottom: 20px;" data-bind="text: $data.checkForEmptyString($addressObject.county)"></div>
                        </div>
                        <div class="col-sm-6">
                            <label class="address-label" for="country"
                            style="
                            font-weight: bold;
                            color: #252525;
                            display: inline-block;
                            margin-bottom: 12px;"
                            data-bind="widgetLocaleText:'countryText'"></label>
                            <div class="address-data" id="cc-shippingAddress-country"
                            style="margin-bottom: 20px;" data-bind="text: $addressObject.country"></div>
                        </div>
                        <div class="col-sm-12">
                            <label class="address-label" for="state"
                            style="
                            font-weight: bold;
                            color: #252525;
                            display: inline-block;
                            margin-bottom: 12px;"
                            data-bind="widgetLocaleText:'stateText'"></label>
                            <div class="address-data" id="cc-shippingAddress-state"
                            style="margin-bottom: 20px;" data-bind="text: $addressObject.state"></div>
                        </div>

                        <div class="col-sm-12">
                            <!-- ko if: $addressObject.dynamicProperties && $addressObject.dynamicProperties().length > 0 -->
                            <div>
                             <!-- ko with: $data -->
                                <!-- ko setContextVariable:{name:'context', value: $addressObject.dynamicProperties} -->
                                <div data-bind="element:'dynamic-property', attr: { id: 'dynamic-property-grid-' + $data.id()} "></div>
                                <!-- /ko -->
                                <!-- /ko -->
                            </div>
                            <!-- /ko -->
                        </div>
                    </div>
                    <div class="dialog-footer dialog-footer-separator cc-footer-background" 
                    style="background-color: #F5F5F5;
      display: flex;
      justify-content: flex-end;
      -webkit-flex: 0 0 auto;
      flex: 0 0 auto;
      padding: 0.85714rem;
      text-align: right;
      border-top: 1px solid #c4ced7;">
                    </div>
                </div>
            </div>
        </div>
        <!-- /ko -->
        <!-- /ko -->
    </div>
</div>
<!-- /ko -->