<div id="CC-agentProcessReturns">
<!-- ko if: $data.returnViewModel() -->
<div id="cc-return-request-process">
  <div class="row">
    <div id="cc-return-request-header" class="col-md-12">
     <h3 class="col-sm-8 agent-headerText" data-bind="text: $data.returnRequestTitle">
     </h3>
     <div class="margin-right-30" data-bind="element: 'back-button', attr: { id: 'back-button-'+id()}"></div>
    </div>
  </div>
  <hr class="line agent-line cc-return-hr">
</div>

<div class="col-md-12 cc-return-btn">
  <!-- ko if: $data.returnViewModel().customerDetails -->
    <!-- ko with: $data.returnViewModel().customerDetails -->
      <h4 class="title agent-subheadings add-padding-top-10"
        data-bind="widgetLocaleText: 'orderDetailsText'">
      </h4>

      <!-- ko if: $data.hasOwnProperty("organization") -->
        <span id="cc-orderDetails-accountName"
          data-bind="widgetLocaleText: 'accountNameText'"></span>
        <span data-bind="widgetLocaleText: 'delimiterText'"></span>
        <span id="cc-orderDetails-accountName-value"
          data-bind="text: organization.name"></span>
        <br/>
      <!-- /ko -->

      <!-- ko if: firstName -->
        <span id="cc-returns-orderDetails-customerName-label"
          data-bind="widgetLocaleText: 'customerNameText',
            visible: firstName || lastName">
        </span>
        <span data-bind="widgetLocaleText: 'delimiterText'"></span>
        <span id="cc-returns-orderDetails-firstName-value"
          data-bind="text: firstName,
            visible: firstName">
        </span>
        <span id="cc-returns-orderDetails-lastName-value"
          data-bind="text: lastName,
            visible: lastName">
        </span>
        <br />
      <!-- /ko -->

      <span id="cc-returns-orderDetails-customerEmail-label"
        data-bind="widgetLocaleText: 'customerEmailText'">
      </span>
      <span data-bind="widgetLocaleText:'delimiterText'"></span>
      <span  id="cc-returns-orderDetails-customerEmail-value"
        data-bind="text: email">
      </span>
      <br/>
    <!-- /ko -->
  <!-- /ko -->

  <!-- ko if: $data.returnViewModel().orderInfo() && $data.returnViewModel().orderInfo().submittedDate -->
    <span id="cc-returns-orderDetails-orderSubmittedDate"
      data-bind="widgetLocaleText: 'orderSubmittedDateText'">
    </span>
    <span data-bind="widgetLocaleText: 'delimiterText'"></span>
    <span id="cc-returns-orderDetails-orderSubmittedDate-value"
      data-bind="ccDateTime: {date: $data.returnViewModel().orderInfo().submittedDate,
        format: 'datetime', dateFormat: 'medium', timeFormat: 'short'}">
    </span>
    <br/>
  <!-- /ko -->

    <span id="cc-returns-orderDetails-orderSiteId-label"
      data-bind="widgetLocaleText: 'merchantSiteText'">
    </span>
    <span data-bind="widgetLocaleText:'delimiterText'"></span>
    <span  id="cc-returns-orderDetails-orderSite-value"
      data-bind="text: $data.orderSite">
    </span>
    <br/>
    <!-- ko if: $data.returnViewModel().trackingNumber || $data.returnViewModel().returnLabel-->
      <h5 class="title" data-bind="widgetLocaleText: 'returnDetailsText'"></h5>
      <!-- ko if: $data.returnViewModel().trackingNumber -->
        <span id="cc-payment-tracking-number-label" data-bind="widgetLocaleText: 'trackingNumbers'"></span>
        <span data-bind="widgetLocaleText:'delimiterText'"></span>
        <span id="cc-payment-tracking-number-value" data-bind="text: $data.returnViewModel().trackingNumber()"></span>
        <br/>
      <!-- /ko -->

      <!-- ko if: $data.returnViewModel().returnLabel -->
        <span id="cc-payment-return-label" data-bind="widgetLocaleText: 'returnLabel'"></span>
        <span data-bind="widgetLocaleText:'delimiterText'"></span>
        <span id="cc-payment-return-value" data-bind="text: $data.returnViewModel().returnLabel()"></span>
        <br/>
      <!-- /ko -->
    <!-- /ko -->
    <!-- ko if: $data.hasQuoteInfo -->
      <span id="cc-returns-orderDetails-hasquoteInfo"
        data-bind="widgetLocaleText: 'quoteText'">
      </span>
    <!-- /ko -->
  </div>
  <br/>

  <div id="cc-return-order-separator" class="col-xs-12">
    <hr class="line order-head col-xs-12"/><br />
  </div>

  <div class="col-xs-12">
    <h4 class="title agent-subheadings"
      data-bind="widgetLocaleText: { value:'returnItems', attr: 'innerText'}">
    </h4>
  </div>
  <br/>

<div class="table-layout-fixed-break-word cc-receive-returns-table-container col-md-12">
  <table summary="returnItems-Header-Table"
      class="table-header-styling table table-bordered table-striped tableHeader cc-receive-returns-table-header">
    <thead>
      <tr>
        <th scope="col" class="vert-align"
            data-bind="widgetLocaleText: 'productText'"></th>
        <th scope="col" class="vert-align text-center"
            data-bind="widgetLocaleText: 'returnQuantity'" ></th>
        <th scope="col" class="vert-align"
            data-bind="widgetLocaleText: 'returnReasonText'"></th>
        <th scope="col" class="vert-align"
            data-bind="widgetLocaleText: 'receivedQuantity'"></th>
        <th scope="col" class="vert-align"
            data-bind="widgetLocaleText: 'dispositionReason'"></th>
        <th scope="col" class="vert-align"
            data-bind="widgetLocaleText: 'comments'"></th>
        <th scope="col" class="vert-align" data-bind="widgetLocaleText: 'returnFrom'"></th>
        <th scope="col" class="vert-align" data-bind="widgetLocaleText: 'shippingMethod'"></th>
      </tr>
    </thead>
  </table>
    <table summary="returnItems-Data-Table"
        class="table table-bordered table-striped tableHeader cc-receive-returns-table-data">
      <tbody>
         <!-- ko with: $data.returnViewModel() -->
        <!--  ko foreach: returnItemsArrayGroupedWithCommerceItemId -->
        <!--  ko foreach: $data -->
        <!-- ko if: $index() == 0 -->
        <tr>
          <td scope="row"  data-bind="attr: {rowspan: $parent.length}" class="cc-orderdetails-multiship-bottom-border-remove  scrollableTableCell" >
              <div class="col-md-12">
                <span data-bind="text: $data.displayName"></span>
                <div data-bind="template: { name: $parents[2].templateAbsoluteUrl('/templates/sku-options-external-data-view.template'), templateUrl: '' }">
                </div>
                <!-- ko with: $data.skuDetailsViewModel -->
              <div data-bind="attr: {
                  id: 'cc-returnItem-subSkuItemDetails-' +
                    ($data.configuratorId ? $data.configuratorId : '')
                },
                template: { name: $parents[3].templateAbsoluteUrl('/templates/subSku-items-view.template'), templateUrl: '' }" class="childItemsTreeDisplay">
              </div>
              <!-- /ko-->

              <!-- ko if: Object.keys($data.replacementDynamicProperties).length > 0 -->
              <!-- ko foreach: $parents[1].lineAttributes() -->
              <!-- ko if: $parent[id()]() != null -->
                <div >
                    <small>
                    <!-- ko if: $parent.hasOwnProperty($data.id()) && ($parent[$data.id()]() !=  null) -->
                    <span data-bind = "text: $data.label"></span> : <span data-bind = "text: $parent[$data.id()]()"></span><br>
                    <!-- /ko -->
                    </small>
                </div>
             <!-- /ko -->
             <!-- /ko -->
              <!-- /ko -->

                <!-- ko if: $data.nonreturnable -->
                  <br/>
                  <span data-bind="widgetLocaleText: 'nonreturnableText'"></span>
                <!-- /ko -->
                </div>
              </div>
          </td>
          <td class="text-center cc-orderdetails-multiship-bottom-border-remove">
            <span data-bind="text: $data.quantityToReturn" ></span>
            <span data-bind="widgetLocaleText: 'leftParenthesisSymbol'"></span>
            <span data-bind="text: $data.quantityReceived"></span>
            <span data-bind="widgetLocaleText: 'rightParenthesisSymbol'"></span>
          </td>
          <td class="cc-orderdetails-multiship-bottom-border-remove">
            <span data-bind="text: $data.returnReason"></span>
          </td>
          <td class="cc-orderdetails-multiship-bottom-border-remove">
          <label data-bind="attr: {for: 'cc-received-quantity' + $data.catRefId}">
            <select class="form-control padding-left-3" id="cc-order-return-receivedQuantity"
              data-bind="options: $data.quantityToReceiveArray,
                         value: $data.selectedReceivedQuantity,
                         optionsCaption: $parents[2].resources().chooseText,
                         enable: $data.quantityToReceive() > 0,
                         attr: {id: 'cc-received-quantity' + $data.catRefId}">
           </select>
           </label>
          </td>
          <td class="cc-orderdetails-multiship-bottom-border-remove">
          <label data-bind="attr: {for: 'cc-disposition-reasons' + $data.catRefId}">
            <select class="form-control padding-left-3"
              data-bind="options: $parents[1].dispositionReasons,
                       optionsText: function(item) {
                         return item.displayName
                       },
                       value: $data.selectedReason,
                       optionsCaption: $parents[2].resources().selectReasonText,
                       enable: $data.quantityToReceive() > 0,
                       attr: {id: 'cc-disposition-reasons' + $data.catRefId}">
            </select>
            </label>
          </td>
          <td class="cc-orderdetails-multiship-bottom-border-remove">
          <label data-bind="attr: {for: 'cc-returnItem-comment' + $data.catRefId}">
          <textarea cols="26"class="form-control" maxlength="254"
                data-bind="value: $data.comments,
                         enable: $data.quantityToReceive() > 0,
                         attr: {id: 'cc-returnItem-comment' + $data.catRefId}"></textarea>
          </label>
          </td>
          <td class="cc-orderdetails-multiship-bottom-border-remove cc-text-overflow-table">
            <a href="#" data-toggle="modal" data-bind="click: $parents[2].showAddressDetails.bind($parents[2], $data.shippingGroup.shippingAddress),
                attr: { id: 'cc-orderdetails-multiship-' +  $data.catRefId }">
            <span data-bind="text: $parents[2].getTextForAddress($data.shippingGroup.shippingAddress)"></span></a>
          </td>
          <td class="cc-orderdetails-multiship-bottom-border-remove">
            <span data-bind="text: $data.shippingGroup.shippingMethod.shippingMethodDescription"></span>
          </td>
        </tr>
        <!--  /ko -->

        <!-- ko if: $index() != 0 -->
        <tr>
          <td class="text-center cc-orderdetails-multiship-border-remove">
            <span data-bind="text: $data.quantityToReturn" ></span>
            <span data-bind="widgetLocaleText: 'leftParenthesisSymbol'"></span>
            <span data-bind="text: $data.quantityReceived"></span>
            <span data-bind="widgetLocaleText: 'rightParenthesisSymbol'"></span>
          </td>
          <td class="cc-orderdetails-multiship-border-remove">
            <span data-bind="text: $data.returnReason"></span>
          </td>
          <td class="cc-orderdetails-multiship-border-remove">
          <label data-bind="attr: {for: 'cc-received-quantity' + $data.catRefId}">
            <select class="form-control padding-left-3" id="cc-order-return-receivedQuantity"
              data-bind="options: $data.quantityToReceiveArray,
                         value: $data.selectedReceivedQuantity,
                         optionsCaption: $parents[2].resources().chooseText,
                         enable: $data.quantityToReceive() > 0,
                         attr: {id: 'cc-received-quantity' + $data.catRefId}">
           </select>
           </label>
          </td>
          <td class="cc-orderdetails-multiship-border-remove">
          <label data-bind="attr: {for: 'cc-disposition-reasons' + $data.catRefId}">
            <select class="form-control padding-left-3"
              data-bind="options: $parents[1].dispositionReasons,
                       optionsText: function(item) {
                         return item.displayName
                       },
                       value: $data.selectedReason,
                       optionsCaption: $parents[2].resources().selectReasonText,
                       enable: $data.quantityToReceive() > 0,
                       attr: {id: 'cc-disposition-reasons' + $data.catRefId}">
            </select>
            </label>
          </td>
          <td class="cc-orderdetails-multiship-border-remove">
          <label data-bind="attr: {for: 'cc-returnItem-comment' + $data.catRefId}">
          <textarea cols="26"class="form-control" maxlength="254"
                data-bind="value: $data.comments,
                         enable: $data.quantityToReceive() > 0,
                         attr: {id: 'cc-returnItem-comment' + $data.catRefId}"></textarea>
          </label>
          </td>
          <td class="cc-orderdetails-multiship-bottom-border-remove cc-text-overflow-table">
            <a href="#" data-toggle="modal" data-bind="click: $parents[2].showAddressDetails.bind($parents[2], $data.shippingGroup.shippingAddress),
                attr: { id: 'cc-orderdetails-multiship-' +  $data.catRefId }">
            <span data-bind="text: $parents[2].getTextForAddress($data.shippingGroup.shippingAddress)"></span></a>
          </td>
          <td class="cc-orderdetails-multiship-border-remove">
            <span data-bind="text: $data.shippingGroup.shippingMethod.shippingMethodDescription"></span>
          </td>
        </tr>
        <!--  /ko -->
        <!--  /ko -->
        <!--  /ko -->
        <!--  /ko -->
      </tbody>
    </table>
</div>

<div class="row">
  <div class="col-md-12 flex-bar">
    <div class="flex-bar-end">
      <button class="cc-oj-button-margin-right-7 cc-return-buttons-padding-top cc-button-secondary secondarybackground" id="cc-refund-paymentRev-cancel"
                    data-bind="click: backToOrderSummary.bind($data)">
      <span data-bind="widgetLocaleText: 'cancel'"></span>
      </button>
      <button class="cc-oj-button-margin-right-7 cc-return-buttons-padding-top cc-button-secondary secondarybackground" id="cc-refund-save"
          data-bind="disable: $data.calculateDisabled(), click: receiveReturns.bind($data)">
        <span data-bind="widgetLocaleText: 'save'"></span>
      </button>
      <!-- ko if: isExchangeRequest()  -->
      <button class="cc-return-buttons-padding-top cc-oj-button-margin-right-7 cc-button-secondary secondarybackground" id="cc-refund-submitExchange"
          data-bind="disable: $data.submitExchangeDisabled(), click:processExchangedOrder.bind($data)">
        <span data-bind="widgetLocaleText: 'processExchangeOrderText'"></span>
      </button>
      <!-- /ko -->
      <button class="cc-oj-button-margin-right-7 cc-return-buttons-padding-top cc-button-primary primarybackground"
          data-bind="disable:$data.processDisabled(), click: refundAmount.bind($data)">
        <span data-bind="widgetLocaleText: 'returnRefundText'"></span>
      </button>

    </div>
  </div>
</div>
<!-- Address book dynamic properties modal -->
   <div id="cc-return-address-details-content"
     data-bind="template: { name: $data.templateAbsoluteUrl('/templates/view-address-details.template'), templateUrl: '' }">
   </div>

<!-- /ko -->
</div>