<div class="col-xs-12 createOrderHeader"> 
  <!-- oc layout: panels -->
    <div class="row" id="cc-selector-controls">
     <!-- ko if: $data.user().isB2BUser() -->
      <div class="oc-panel col-md-6" data-oc-id="panel-1">
        <!-- oc section: account-selector -->
          <div data-bind="element: 'account-selector', attr: { id: 'account-selector-'+id()}"></div>
        <!-- /oc -->
      </div>
       <!-- /ko -->
      <div class="oc-panel col-md-5" data-oc-id="panel-2">
        <!-- oc section: site-selector -->
          <div data-bind="element: 'site-selector', attr: { id: 'site-selector-'+id()}"></div>
        <!-- /oc -->
      </div>
      <!-- ko if: !$data.user().isB2BUser() -->
      <div class="oc-panel col-md-7" data-oc-id="panel-3">
        <!-- oc section: plg-selector -->
          <div data-bind="element: 'plg-selector', attr: { id: 'plg-selector-'+id()}"></div>
        <!-- /oc -->
      </div>
       <!-- /ko -->
    </div>
    <div class="row" id="cc-selector-controls-additional-customs">
      <div class="oc-panel col-md-6" data-oc-id="panel-4">
        <!-- oc section: additional-custom-factors -->
          <div data-bind="element: 'additional-custom-factors', attr: { id: 'additional-custom-factors-'+id()}"></div>
        <!-- /oc -->
      </div>
    </div>
    
    <div class="row" id="cc-header-text">
      <div id="cc-orderEdit-Header" class="oc-panel col-md-6" data-oc-id="panel-4">      
        <!-- oc section: header-text -->
          <div data-bind="element: 'header-text', attr: { id: 'header-text-'+id()}"></div>
        <!-- /oc -->
      </div>
      <div id="cc-back-button" class="oc-panel col-md-6" data-oc-id="panel-5"> 
        <!-- oc section: back-button -->
          <div data-bind="element: 'back-button', attr: { id: 'back-button-'+id()}"></div>
        <!-- /oc -->
      </div>
    </div>
  <!-- /oc -->
</div>