<div id="CC-checkoutOrderSummary">
  <!-- ko if: $data.cart().items().length > 0 -->
    <div class="ordersummary clearfix">
      <h3 class="no-outline" data-bind="widgetLocaleText:'orderSummaryText'"></h3>
      <!-- Cart Total -->
      <div id="CC-orderSummaryLoadingModal">
        <!-- ko if: cart().isSplitShipping() -->
          <!-- ko foreach: cart().orderShippingGroups -->
            <!-- ko if: $data.hasOwnProperty("priceInfo") -->
              <!-- ko if: ($data.type != "inStorePickupShippingGroup" &&  $data.shippingAddress) || $data.type == "inStorePickupShippingGroup"-->
              <div class="well well-sm small">
                <div class="collapse-heading">
                <strong>
                  <span>
                    <!-- ko if: $data.type == "inStorePickupShippingGroup" -->
                      <span data-bind="widgetLocaleText: 'pickupInStoreText'"></span> x<span data-bind="text: totalItemQuantity"></span>
                    <!-- /ko-->
                    <!-- ko ifnot: $data.type == "inStorePickupShippingGroup" -->
                    <!-- ko if: $data.shippingAddress.alias -->
				      <span data-bind="text: shippingAddress.alias"></span> - 
				    <!-- /ko -->
				      <span data-bind="text: shippingMethod.shippingMethodDescription"></span> x<span data-bind="text: totalItemQuantity"></span>
                    <!-- /ko-->
                  </span>
				</strong>
				</div>
                <span data-bind="attr:{'id':'viewDetailsToggle'+$index()}" ><a href="#" class="collapse-toggle collapsed" data-toggle="collapse"
                data-bind="widgetLocaleText: 'viewDetailsText',  click:function(){$('#viewDetailsToggle'+$index()).addClass('hide') }, attr:{'data-target':'#CC-row-'+$index()}"></a></span>
                <div data-bind="attr:{'id':'CC-row-'+$index()}" class="collapse">
                  <div class="row">
                    <div class="col-xs-7" data-bind="widgetLocaleText: 'subtotalText'">
					</div>
                    <div class="col-xs-5 text-right">
                      <span data-bind="currency: {price: priceInfo.subTotal,
                          currencyObj: $parent.site().selectedPriceListGroup().currency}"></span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-7">
                      <!-- ko ifnot: $data.type == "inStorePickupShippingGroup" -->
                        <span data-bind="widgetLocaleText: 'shippingTextWithBraces'"></span>
                        <span data-bind="text: shippingMethod.shippingMethodDescription"></span>
                        <span data-bind="widgetLocaleText: 'closeBracketText'"></span>
                      <!-- /ko -->
                      <!-- ko if: $data.type == "inStorePickupShippingGroup" -->
                        <span data-bind="widgetLocaleText: 'pickupInStoreText'"></span>
                      <!-- /ko -->
                    </div>
                    <div class="col-xs-5 text-right">
                      <!-- ko if: $parent.cart().showSecondaryShippingData()-->
                        <span data-bind="currency: {price: priceInfo.secondaryCurrencyShippingAmount, currencyObj: $parent.cart().secondaryCurrency()}"></span>
                      <!-- /ko -->
                      <!-- ko ifnot: $parent.cart().showSecondaryShippingData()-->
                        <span id="CC-checkoutOrderSummary-shippingPrice" class="ordersumprice pull-right"
                        data-bind="currency: {price: priceInfo.shipping, currencyObj: $parent.currency()}"></span>
                      <!-- /ko -->
                    </div>
                  </div>
                  <!-- ko if: $data.hasOwnProperty("discountInfo") -->
                    <!-- ko if: discountInfo.shippingDiscount !== 0 -->
                      <div class="row">
                        <div class="col-xs-7" data-bind="widgetLocaleText: 'shippingDiscountText'">
						</div>
                        <div class="col-xs-5 text-right">
                          <!-- ko if: $parent.cart().showSecondaryShippingData() -->
                            <span data-bind="currency: {price: -discountInfo.secondaryCurrencyShippingDiscount, currencyObj: $parent.cart().secondaryCurrency()}"></span>
                          <!-- /ko -->
                          <!-- ko ifnot: $parent.cart().showSecondaryShippingData() -->
                            <span data-bind="currency: {price: -discountInfo.shippingDiscount, currencyObj: $parent.currency()}"></span>
                          <!-- /ko -->
                        </div>
                      </div>
                    <!-- /ko -->
                  <!-- /ko -->
                  <!-- ko if: priceInfo.shippingSurchargeValue &&  priceInfo.shippingSurchargeValue !== 0 -->
                    <div class="row">
                      <div class="col-xs-7" data-bind="widgetLocaleText: 'shippingSurchargeText'"></div>
                      <div class="col-xs-5 text-right">
                        <!-- ko if: $parent.cart().showSecondaryShippingData() -->
                          <span data-bind="currency: {price: priceInfo.secondaryCurrencyShippingSurchargeValue, currencyObj: $parent.cart().secondaryCurrency()}"></span>
                        <!-- /ko -->
                        <!-- ko ifnot: $parent.cart().showSecondaryShippingData() -->
                          <span data-bind="currency: {price: priceInfo.shippingSurchargeValue, currencyObj: $parent.currency()}"></span>
                        <!-- /ko -->
                      </div>
                    </div>
                  <!-- /ko -->
                  <!-- ko if: $parent.cart().showTaxSummary -->
                    <div class="row">
                      <div class="col-xs-7" data-bind="widgetLocaleText: 'salesTaxText'"></div>
                      <div class="col-xs-5 text-right">
                        <!-- ko if: $parent.cart().showSecondaryTaxData() -->
                          <span data-bind="currency: {price: priceInfo.secondaryCurrencyTaxAmount, currencyObj: $parent.cart().secondaryCurrency()}"></span>
                        <!-- /ko -->
                        <!-- ko ifnot: $parent.cart().showSecondaryTaxData() -->
			              <span data-bind="currency: {price: priceInfo.tax, currencyObj: $parent.currency()}"></span>
		                <!-- /ko -->
                      </div>
                    </div>
                  <!-- /ko -->
                  <!-- ko if: ($data.hasOwnProperty("taxPriceInfo") && taxPriceInfo.isTaxIncluded && $parent.cart().showTaxSummary) -->
                    <div class="row">
                      <div class="col-xs-7" data-bind="widgetLocaleText: 'groupTotalEcludingTaxText'"></div>
                      <div class="col-xs-5 text-right">
                        <span data-bind="currency: { price: priceInfo.totalWithoutTax,
                            currencyObj: $parent.site().priceListGroup.currency}"></span>
                      </div>
                    </div>
                  <!-- /ko -->
                  <div class="row">
                    <div class="col-xs-7">
                     <span data-bind="widgetLocaleText: 'groupTotalText'"></span>
                      <!-- ko if: ($data.hasOwnProperty("taxPriceInfo") && taxPriceInfo.isTaxIncluded && $parent.cart().showTaxSummary) -->
                        <span data-bind="widgetLocaleText: 'includingTaxText'"></span>
                      <!-- /ko -->
                    </div>
                    <div class="col-xs-5 text-right">
                      <!-- ko if: ($parent.cart().showSecondaryShippingData() || $parent.cart().showSecondaryTaxData()) -->
                        <span data-bind="currency: {price: priceInfo.primaryCurrencyTotal, currencyObj: $parent.currency()}"></span><br>
                        <span data-bind="currency: {price: priceInfo.total-priceInfo.primaryCurrencyTotal, currencyObj: $parent.cart().secondaryCurrency(), prependSymbol: '+'}"></span>
                      <!-- /ko -->
                      <!-- ko ifnot: ($parent.cart().showSecondaryShippingData() || $parent.cart().showSecondaryTaxData()) -->
                        <span data-bind="currency: {price: priceInfo.total,
                          currencyObj: $parent.currency()}"></span>
                      <!-- /ko -->
                    </div>
                  </div>
                  <span><a href="#" class="collapse-toggle " data-toggle="collapse" data-bind=" widgetLocaleText:'hideDetailsText',
                  click:function(){$('#viewDetailsToggle'+$index()).removeClass('hide') },attr:{'data-target':'#CC-row-'+$index()}"></a></span>
                </div>
              </div>
            <!-- /ko -->
          <!-- /ko -->
        <!-- /ko -->
      <!-- /ko -->
      <div class="row">
        <div class="col-xs-7">
          <div data-bind="widgetLocaleText:'subtotalText'"></div>
            <!-- ko if: (user().selectedPriceListGroup() && user().selectedPriceListGroup().isTaxIncluded && cart().showTaxSummary) -->
              <div data-bind="widgetLocaleText: 'includingTaxText'"></div>
            <!-- /ko -->
          </div>
          <div class="col-xs-5">
            <span id="CC-checkoutOrderSummary-subTotal" class="ordersumprice pull-right no-outline"
              data-bind="currency: {price: cart().subTotal(), currencyObj: $data.currency()}"></span>
          </div>
        </div>
        <!-- ko if: cart().orderDiscount() != 0 -->
          <div id="CC-checkoutOrderSummary-discount" class='clearfix'>
            <span id="CC-checkoutOrderSummary-discountText" data-bind="widgetLocaleText:'discountText'"></span>
            <span id="CC-checkoutOrderSummary-discountAmt" class="ordersumprice pull-right" data-bind="currency: {price: -cart().orderDiscount(), currencyObj: $data.currency()}"></span>
          </div>
        <!-- /ko -->
        <!-- ko ifnot: cart().isSplitShipping() -->
          <!-- Selected Shipping Option -->
          <div class="row">
            <div class="col-xs-7">
              <span id="CC-checkoutOrderSummary-shippingName" data-bind="widgetLocaleText : 'defaultShippingText'"></span>
            </div>
		    <div class="col-xs-5">
		      <!-- ko if: $data.cart().showSecondaryShippingData()-->
		        <span id="CC-checkoutOrderSummary-shippingPrice" class="ordersumprice pull-right"
                  data-bind="currency: {price: selectedShippingCostInSecondaryCurrency(), currencyObj: $data.cart().secondaryCurrency()}"></span>
              <!-- /ko -->
		      <!-- ko ifnot: $data.cart().showSecondaryShippingData()-->
                  <span id="CC-checkoutOrderSummary-shippingPrice" class="ordersumprice pull-right"
                  data-bind="currency: {price: selectedShippingCost(), currencyObj: $data.currency()}"></span>
			  <!-- /ko -->
            </div>
          </div>
        <!-- /ko -->
        <!-- ko if: cart().isSplitShipping() -->
          <div class="row">
            <div class="col-xs-8">
              Shipping:
            </div>
            <div class="col-xs-4">
              <!-- ko if: $data.cart().showSecondaryShippingData()-->
                <span id="CC-checkoutOrderSummary-shippingPrice" class="ordersumprice pull-right"
                  data-bind="currency: {price: $data.cart().secondaryCurrencyShippingAmount(), currencyObj: $data.cart().secondaryCurrency()}"></span>
              <!-- /ko -->
              <!-- ko ifnot: $data.cart().showSecondaryShippingData()-->
                <span id="CC-checkoutOrderSummary-shippingPrice" class="ordersumprice pull-right"
                  data-bind="currency: {price: $data.cart().shipping(), currencyObj: $data.currency()}"></span>
              <!-- /ko -->
            </div>
          </div>
        <!-- /ko -->
        <!-- ko if: ( displayShippingOptions() || cart().isSplitShipping() )-->
          <!-- ko if:cart().shippingDiscount() !== 0 -->
            <div class="row">
              <div class="col-xs-8">
                <span id="CC-checkoutOrderSummary-shippingDiscount-Text" data-bind="widgetLocaleText: 'shippingDiscountText'"></span>
              </div>
              <div class="col-xs-4">
                <!-- ko if: $data.cart().showSecondaryShippingData() -->
                  <span id="CC-checkoutOrderSummary-shippingDiscount" class="ordersumprice pull-right"
                  data-bind="currency: {price: -cart().secondaryCurrencyShippingDiscount(), currencyObj: $data.cart().secondaryCurrency()}"></span>
                <!-- /ko -->
                <!-- ko ifnot: $data.cart().showSecondaryShippingData() -->
                  <span id="CC-checkoutOrderSummary-shippingDiscount" class="ordersumprice pull-right"
                  data-bind="currency: {price: -cart().shippingDiscount(), currencyObj: $data.currency()}"></span>
				<!-- /ko -->
              </div>
            </div>
          <!-- /ko -->

          <!-- Shipping Surcharge -->
          <!-- ko if: displayShippingOptions() && cart().shippingSurcharge() !== 0 -->
            <div id="CC-checkoutOrderSummary-shippingSurcharge" class="shippingSurcharge clearfix" role="alert" aria-atomic="true" aria-live="polite">
              <span data-bind="widgetLocaleText: 'shippingSurchargeText'"></span>
			  <!-- ko if: $data.cart().showSecondaryShippingData() -->
			    <span class="ordersumprice pull-right"
                data-bind="currency: {price: cart().secondaryCurrencyShippingSurcharge(), currencyObj: $data.cart().secondaryCurrency()}"></span>
              <!-- /ko -->
              <!-- ko ifnot: $data.cart().showSecondaryShippingData() -->
                <span class="ordersumprice pull-right"
                data-bind="currency: {price: cart().shippingSurcharge(), currencyObj: $data.currency()}"></span>
			  <!-- /ko -->
            </div>
          <!-- /ko -->
        <!-- /ko -->

        <!-- Sales Tax may depend on delivery address-->
        <!-- ko if: cart().showTaxSummary -->
          <div id="CC-checkoutOrderSummary-salesTax" class="clearfix" role="alert" aria-atomic="true" aria-live="polite">
		    <span data-bind="widgetLocaleText:'salesTaxText'"></span>
	        <!-- ko if: $data.cart().showSecondaryTaxData() -->
              <span class="ordersumprice pull-right"
              data-bind="currency: {price: secondaryCurrencyTaxAmount(), currencyObj: $data.cart().secondaryCurrency()}"></span>
            <!-- /ko -->
            <!-- ko ifnot: $data.cart().showSecondaryTaxData() -->
			  <span class="ordersumprice pull-right"
              data-bind="currency: {price: salesTax(), currencyObj: $data.currency()}"></span>
		    <!-- /ko -->
		  </div>
		<!-- /ko -->
    </div>
    <!-- discount descriptions -->

    <div id="CC-checkoutOrderSummary-discounts" class="clearfix discountContainer discountDescText" data-bind="foreach: cart().orderDiscountDescList()">
      <div data-bind="attr: { id: 'CC-checkoutOrderSummary-discountEntry-' + $index() }">
        <!-- ko if : $data.promotionLevel === "order" -->
          <span data-bind="attr: { id: 'CC-checkoutOrderSummary-discountDescription-' + $index() }, widgetLocaleText : {value:'OrderDiscountDesc', attr: 'innerText', params: {discountDesc: $data.promotionDesc}}"></span>
        <!-- /ko -->
        <!-- ko if : $data.promotionLevel === "item" -->
          <span data-bind="attr: { id: 'CC-checkoutOrderSummary-discountDescription-' + $index() }, text : $data.promotionDesc"></span>
        <!-- /ko -->
        <!-- ko if: $parent.displayShippingOptions() -->
          <!-- ko if : $data.promotionLevel === "shipping" -->
            <span data-bind="attr: { id: 'CC-checkoutOrderSummary-discountDescription-' + $index() }, text : $data.promotionDesc"></span>
          <!-- /ko -->
        <!-- /ko -->
      </div>
    </div>
    <div id="CC-checkoutOrderSummary-coupons" class="clearfix discountDescText" data-bind="foreach: cart().claimedCouponMultiPromotions()">
      <div data-bind="foreach: $data.promotions(), attr: { id: 'CC-checkoutOrderSummary-couponEntry-' + $index() }">
        <div class="row" data-bind="attr: { id: 'CC-checkoutOrderSummary-coupon-' + $parent.code()+ '-promotionEntry-' + $index() }">
          <!-- ko if : $index() == "0" -->
            <!-- ko if : $data.promotionLevel() === "order" -->
              <span class="col-xs-9" data-bind="widgetLocaleText : {value:'orderCouponDisplayText', attr: 'innerText', params: {description: promotionDesc(), code : $parent.code()}}"></span>
            <!-- /ko -->
            <!-- ko if : $data.promotionLevel() === "item" -->
              <span class="col-xs-9" data-bind="widgetLocaleText : {value:'couponDisplayText', attr: 'innerText', params: {description: promotionDesc(), code : $parent.code()}}"></span>
            <!-- /ko -->
            <!-- ko if: ($parents[1].displayShippingOptions() && !$parents[1].cart().isSplitShipping()) || (!$parents[1].displayShippingOptions() && $parents[1].cart().isSplitShipping()) -->
              <!-- ko if : $data.promotionLevel() === "shipping" -->
                <span class="col-xs-9" data-bind="widgetLocaleText : {value:'couponDisplayText', attr: 'innerText', params: {description: promotionDesc(), code : $parent.code()}}"></span>
              <!-- /ko -->
            <!-- /ko -->
            <span class="col-xs-3"><a href="#" class="text-underline pull-right" data-bind="widgetLocaleText: {attr: 'innerText', value: 'removeLinkText'}, attr: {'aria-label': $parents[1].cart().getRemoveCouponReadText()}, click: $parents[1].cart().removeCoupon.bind($parents[1].cart(), $parent)"></a></span>
          <!-- /ko -->
          <!-- ko ifnot : $index() == "0" -->
            <!-- ko if : $data.promotionLevel() === "order" -->
              <span class="col-xs-9" data-bind="widgetLocaleText : {value:'OrderDiscountDesc', attr: 'innerText', params: {discountDesc: promotionDesc()}}"></span>
            <!-- /ko -->
            <!-- ko if : $data.promotionLevel() === "item" -->
              <span class="col-xs-9" data-bind="text: promotionDesc()"></span>
            <!-- /ko -->
            <!-- ko if: $parents[1].displayShippingOptions -->
              <!-- ko if : $data.promotionLevel() === "shipping" -->
                <span class="col-xs-9" data-bind="text: promotionDesc()"></span>
              <!-- /ko -->
            <!-- /ko -->
          <!-- /ko -->
        </div>
      </div>
    </div>

    <!-- Gift Card -->
    <!--  ko with: order -->
      <!-- ko if: giftCards().length >0 -->
        <span data-bind="widgetLocaleText:'giftCardUsedText'"></span>
      <!-- /ko -->

      <div id="CC-orderSummary-unclamiedGiftCards" class="clearfix discountDescText"  data-bind="foreach: giftCards">
        <div  data-bind="attr: { id: 'CC-orderSummary-unclaimedGiftCardsEntry-' + $index() }">
          <span data-bind="text: maskedGiftCardNumber"></span>
		  <!-- ko if: ($parents[1].cart().showSecondaryShippingData() || $parents[1].cart().showSecondaryTaxData()) -->
            <span class="ordersumprice pull-right"
               data-bind="currency: {price: -amountUsed(), currencyObj: $parents[1].cart().secondaryCurrency()}"></span>
          <!-- /ko -->
          <!-- ko ifnot: ($parents[1].cart().showSecondaryShippingData() || $parents[1].cart().showSecondaryTaxData()) -->
            <span class="ordersumprice pull-right"
            data-bind="currency: {price: -amountUsed(), currencyObj: $parents[1].cart().currency}"></span>
		  <!-- /ko -->
          <div class="clearfix">
             <span class="pull-right"><a href="#" class="text-underline pull-right" data-bind="widgetLocaleText: {attr: 'innerText', value: 'removeLinkText'}, click: $parents[1].cart().removeGiftCard.bind($parents[1].cart())"></a></span>
          </div>
        </div>
      </div>
    <!-- /ko -->

    <!-- Cart Total + Shipping -->
    <!-- ko if: (user().selectedPriceListGroup() && user().selectedPriceListGroup().isTaxIncluded && cart().showTaxSummary) -->
      <div id="CC-checkoutOrderSummary-orderTotal" class="ordertotal clearfix" role="alert" aria-atomic="true" aria-live="polite">
        <!-- ko if: (cart().showSecondaryShippingData() || cart().showSecondaryTaxData()) -->
          <div class="ordertotalextax row">
            <div class="col-md-7 col-sm-12 col-xs-7">
              <span data-bind="widgetLocaleText:'totalText'"></span><br>
              <span data-bind="widgetLocaleText:'excludingTaxAndShipping'"></span>
            </div>
            <div class="col-md-5 col-sm-12 col-xs-5">
              <span class="ordersumprice pull-right" data-bind="currency: {price: cart().taxExclusiveAmount(), currencyObj: $data.currency()}"></span>
            </div>
          </div>
        <!-- /ko -->
        <!-- ko ifnot: (cart().showSecondaryShippingData() || cart().showSecondaryTaxData()) -->
          <div class="ordertotalextax">
            <span data-bind="widgetLocaleText:'totalExcludingTaxText'"></span>
            <span class="ordersumpriceextax pull-right" data-bind="currency: {price: cart().totalWithoutTax(), currencyObj: $data.currency()}"></span>
	      </div>
        <!-- /ko -->
        <!-- ko if: (cart().showSecondaryShippingData() || cart().showSecondaryTaxData()) -->
          <div class="row">
            <div class="col-md-7 col-sm-12 col-xs-7">
              <span data-bind="widgetLocaleText:'orderTotalText'"></span>
            </div>
            <div class="col-md-5 col-sm-12 col-xs-5 ordersumprice">
              <span class="pull-right" data-bind="currency: {price: cart().primaryCurrencyTotal(), currencyObj: $data.currency()}"></span><br>
              <span class="pull-right" data-bind="currency: {price: cart().secondaryCurrencyTotal(), currencyObj: $data.cart().secondaryCurrency(), prependSymbol: '+'}"></span>
            </div>
	      </div>
        <!-- /ko -->
        <!-- ko ifnot: (cart().showSecondaryShippingData() || cart().showSecondaryTaxData()) -->
          <div class="row">
            <div class="col-md-7 col-sm-12 col-xs-7">
              <div data-bind="widgetLocaleText:'orderTotalText'"></div>
              <div class="includingtaxtext" data-bind="widgetLocaleText:'includingTaxText'"></div>
            </div>
            <div class="col-md-5 col-sm-12 col-xs-5">
              <div class="ordersumprice pull-right" data-bind="currency: {price: totalCost(), currencyObj: $data.currency()}"></div>
            </div>
          </div>
	    <!-- /ko -->
      </div>
    <!-- /ko -->
    <!-- ko ifnot: (user().selectedPriceListGroup() && user().selectedPriceListGroup().isTaxIncluded && cart().showTaxSummary) -->
      <div id="CC-checkoutOrderSummary-orderTotal" class="ordertotal clearfix" role="alert" aria-atomic="true" aria-live="polite">
        <!-- ko if: ($data.cart().showSecondaryShippingData() || $data.cart().showSecondaryTaxData()) -->
          <div class="row">
            <div class="col-md-7 col-sm-12 col-xs-7">
              <span data-bind="widgetLocaleText:'orderTotalText'"></span>
            </div>
            <div class="col-md-5 col-sm-12 col-xs-5">
              <span class="ordersumprice pull-right" data-bind="currency: {price: cart().primaryCurrencyTotal(), currencyObj: $data.currency()}"></span><br>
              <span class="ordersumprice pull-right" data-bind="currency: {price: cart().secondaryCurrencyTotal(), currencyObj: $data.cart().secondaryCurrency(), prependSymbol: '+'}"></span>
            </div>
          </div>
        <!-- /ko -->
        <!-- ko ifnot: ($data.cart().showSecondaryShippingData() || $data.cart().showSecondaryTaxData()) -->
          <span data-bind="widgetLocaleText:'orderTotalText'"></span>
          <span class="ordersumprice pull-right"
           data-bind="currency: {price: totalCost(), currencyObj: $data.currency()}"></span>
	    <!-- /ko -->
	  </div>
    <!-- /ko -->
  </div>
  <!-- /ko -->
</div>
