<!-- ko if: $data -->
  <div id="cc-order-search">
    <div class="col-md-12" id="cc-ordersSearchText">
      <h3 class="agent-headerText" id="cc-order-search-ordersText"
          data-bind="widgetLocaleText: 'ordersSearchText'"></h3>
      <hr class="line agent-line" />
    </div>
    <br/>
    <div class="col-md-12 zero-pad"  id ="cc-orderSearch-fields" >
      <div class="col-md-12" id="cc-customerText-container">
        <h4 class="p-l-2  agent-headerText" id="cc-order-search-customer-details-Text"
          data-bind="widgetLocaleText: 'customerDetailsText'"></h4>
        <br/>
      </div>

        <form class="container-fluid" id="cc-search-form" autocomplete="off" >
          <div class="row" id="cc-search-email-phone">
            <div class="form-group col-md-3" id="cc-search-email-field">
              <label for="cc-search-criteria-emailid" class="control-label"
                data-bind="widgetLocaleText: 'emailIdText'"></label>
              <input type="email" class="form-control" id="cc-search-criteria-emailid" name="emailText"
                data-bind="value: email, valueUpdate: 'afterkeydown'"/>
            </div>
            <div class="form-group col-md-3 col-md-offset-3" id="cc-search-phone-field">
              <label for="cc-search-criteria-phone" class="control-label"
                data-bind="widgetLocaleText: 'phoneNumberText'"></label>
              <input type="text" class="form-control" id="cc-search-criteria-phone" name="phoneText"
                data-bind="value: phone, valueUpdate: 'afterkeydown', hasFocus: isEditPhone"/>
            </div>
          </div>
          <div class="row" id="cc-search-firstName-lastName">
            <div class="form-group col-md-3" id="cc-search-criteria-firstname-field">
              <label for="cc-search-criteria-firstname" class="control-label"
                data-bind="widgetLocaleText: 'firstNameText'"></label>
              <input type="text" class="form-control" id="cc-search-criteria-firstname" name="firstNameText"
                data-bind="value: firstName, valueUpdate: 'afterkeydown'"/>
            </div>
            <div class="form-group col-md-3 col-md-offset-3" id="cc-search-criteria-lastname-field">
              <label for="cc-search-criteria-lastname"  class="control-label"
                data-bind="widgetLocaleText: 'lastNameText'"></label>
              <input type="text" class="form-control" id="cc-search-criteria-lastname" name="lastNameText"
                data-bind="value: lastName, valueUpdate: 'afterkeydown'"/>
            </div>
          </div>
          <div id="cc-orderDetailsText-container">
          <br/>
            <h4 class="agent-headerText" id="cc-order-search-customerText"
              data-bind="widgetLocaleText: 'linkOrderDetailsText'"></h4>
            <br/>
          </div>
          <div class="row"  id="cc-search-criteria-orderid-site">
            <div class="form-group col-md-3" id="cc-search-criteria-id-field">
              <label for="cc-search-criteria-orderid" class="control-label"
                data-bind="widgetLocaleText: 'orderIdText'"></label>
              <input type="text" class="form-control" id="cc-search-criteria-orderid" name="orderIdText"
                data-bind="value: orderId, valueUpdate:'afterkeydown'"/>
            </div>
            
            <div class="form-group col-md-3 col-md-offset-3" id="cc-search-criteria-site-field">
              <label for="cc-search-criteria-site" class="control-label"
                data-bind="widgetLocaleText: 'siteText'"></label>
              <select class="form-control" id="cc-search-criteria-site"
                  data-bind="options: $data.sites,
                  value: selectedSite,
                  optionsValue: function(item) { return item.id },
                  optionsText: $data.formatSiteText,
                  optionsCaption: $data.resources().selectSiteText">
              </select>
            </div>            
            
          </div>
          
          <div class="row" id="cc-search-criteria-productName-sku">
            <div class="form-group col-md-4" id="cc-search-criteria-productName-field">
              <label for="cc-customer-product-text" class="control-label" data-bind="widgetLocaleText:'productNameText', attr: {id: id()+'_cc-customer-product-label'}"> </label>

              <!-- ko with: $data -->
                <div data-bind="element: 'product-search', attr: { id: 'product-search-'+$data.id()}"></div>
              <!-- /ko -->
             </div>
            <div class="form-group col-md-3 col-md-offset-2" id="cc-search-criteria-sku-field">
              <label for="cc-search-criteria-sku" class="control-label" data-bind="widgetLocaleText: 'skuText'">SKU</label>
              <input class="form-control" id="cc-search-criteria-sku" name="skuText" data-bind="value: skuId, valueUpdate: 'afterkeydown'" type="text">
            </div>
          
          </div>
          
          <div class="row" id="cc-search-criteria-orderStates-submittedtime">
            <div class="form-group col-md-3" id="cc-search-criteria-orderStates-field">
              <label for="cc-search-criteria-orderstatus" class="control-label"
                data-bind="widgetLocaleText: 'orderStatusText'"></label>
              <select class="form-control" id="cc-search-criteria-orderstatus"
                  data-bind="options: $data.orderStatesMap,
                  value: selectedOrderState,
                  optionsValue: function(item) { return item.displayKey; },
                  optionsText: function(item) { return $data.getStateLabel(item.displayKey) },
                  optionsCaption: $data.resources().selectStatusText">
              </select>
            </div>			
			
            <div class="form-group col-md-3 col-md-offset-3" id="cc-search-submittedWithin-timeUnits">
              <label for="cc-search-criteria-submittedWithin" class="control-label"
                data-bind="widgetLocaleText: 'submittedWithinText'"></label>
              <div class="form-group">
                <div class="col-md-6" style="padding-left: 0px;" id="cc-search-criteria-submittedWithin-field">
                  <input type="text" class="form-control" id="cc-search-criteria-submittedWithin"
                    name="submittedWithinText" data-bind="value: timeValueForLastOrders, valueUpdate: 'afterkeydown', enable: $data.disableSubmittedInLastDaysField"/>
                </div>
                <div class="col-md-6" id="cc-search-criteria-timeUnits-field">
                   <label for="cc-search-criteria-timeUnits" class="label-hidden"
                      data-bind="widgetLocaleText: 'timeUnitText'"></label>
                   <select class="form-control" id="cc-search-criteria-timeUnits"
                      data-bind="options: timeUnits, value: timeUnitForLastOrders, enable: $data.disableSubmittedInLastDaysField">
                   </select>
                </div>
              </div>
            </div>
            <div class="col-md-3 hidden-xs margin-top-30">
              <span class="text-danger"
                 id="cc-search-criteria-timeValue-error"
                 data-bind="validationMessage: timeValueForLastOrders">
              </span>
            </div>
            </div>
          <div class="row" id="cc-search-criteria-account">          
            <div class="form-group col-md-3" id="cc-search-criteria-account-field">
             <!-- ko with: $data -->
                <div data-bind="element: 'account-search', attr: { id: 'account-selector-'+$data.id()}"></div>
              <!-- /ko -->
            </div>
           </div> 
	  <div class="row" id="cc-search-criteria-approver-row">
            <div class="form-group col-md-3" id="cc-search-approver">
                <label for="cc-search-criteria-approver" class="control-label"
                  data-bind="widgetLocaleText: 'approverText'"></label>
              <input type="text" class="form-control" id="cc-search-criteria-approver" name="approverText"
                data-bind="value: approver, valueUpdate: 'afterkeydown'"/>
            </div>
          </div>
          <hr class="cc-order-line agent-line" />
         <div id="cc-agent-order-search" class="oj-flex-bar">
          <div id="cc-adv-search-expansion-top" class="oj-flex-bar-start">
	    <span id="cc-link-to-adv-search-top" class="cc-anchor-icon">
              <a id="cc-show-adv-search-link-top" href="javascript:void(0);" data-bind="{visible: !isAdvancedSearchEnabled(),click: $data.toggleAdvancedSearch.bind($data)}">
                <i id="cc-show-adv-search-img-top" class="fa cc-oj-hyperlink-color" data-bind="css: isAdvancedSearch() ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                <span id="cc-show-adv-search-text-top" class="cc-oj-hyperlink-color" data-bind="widgetLocaleText: isAdvancedSearch() ? 'hideAdvancedSearchText' : 'showAdvancedSearchText'"></span>
              </a>
            </span>
          </div>
          <div class="oj-flex-bar-end pull-right" id="cc-search-submit-buttons" data-bind="visible: !isAdvancedSearch()">
            <button type="button" id="cc-reset-button" class="cc-button-secondary secondarybackground" data-bind="click: $data.resetBasicSearch.bind($data), enable: $data.enableResetButton()">
              <span data-bind="widgetLocaleText:'buttonResetText'"></span>
            </button>
            <button type="submit" id="cc-search-button" class="cc-button-primary primarybackground" data-bind="click: $data.performOrderSearch.bind($data), enable: $data.enableSearchButton()">
              <span data-bind="widgetLocaleText:'buttonSearchText'"></span>
            </button>
          </div>
         </div>
        </form>
      <!-- ko if: isAdvancedSearch -->
        <div class="col-md-12" id="cc-dateRangeText-container">
          <h4 class="agent-headerText" id="cc-order-search-dateRangeText"
            data-bind="widgetLocaleText: 'searchDateRangeText'"></h4>
          <br/>
        </div>

          <form class="container-fluid" id="cc-advsearch-form" autocomplete="off" >
            <fieldset id="cc-advsearch-fieldset" class="col-xs-12">
              <legend id="cc-advsearch-legend" class="cc-hide-legend" 
                data-bind="widgetLocaleText: 'advancedSearchText'"></legend>
              <div class= "row" id="cc-advsearch-startDate-endDate">
                <div class="form-group col-md-3" id="cc-advsearch-startDate-field">
                  <label for="cc-advsearch-startdate" class="control-label"
                  data-bind="widgetLocaleText: 'startDateText'"></label>
                  <div class="input-group">
                    <input data-bind="widgetLocaleText : {value:'startDateText', attr:'aria-label'},
                     validatableValue: startDate,
                     datepicker: startDate,
                     dpOptions: {
                     autoclose: true,
                     format: 'mm/dd/yyyy',
                     language: $data.locale().replace('_','-')}" type="text" class="form-control" id="cc-advsearch-startdate" aria-required="true" placeholder="mm/dd/yyyy" aria-label="Start">
                     <label class="input-group-btn" for="cc-advsearch-startdate">
                       <span class="btn btn-default" type="button">
                         <span class="fa fa-calendar"></span>
                       </span>
                     </label>
                  </div>
                  <!-- ko if: !isStartDateValid() -->
                    <p class="text-danger" id="cc-advsearch-startDate-error"
                       data-bind="widgetLocaleText: 'dateValidation'">
                    </p>
                  <!-- /ko -->
                </div>
                <div class="form-group col-md-3 col-md-offset-3" id="cc-advsearch-startDate">
                  <label for="cc-advsearch-enddate" class="control-label"
                    data-bind="widgetLocaleText: 'endDateText'"></label>
                  <div class="input-group">
                    <input data-bind="widgetLocaleText : {value:'endDateText', attr:'aria-label'},
                      validatableValue: endDate,
                      datepicker: endDate,
                      dpOptions: {
                        autoclose: true,
                        format: 'mm/dd/yyyy',
                        language: $data.locale().replace('_','-')
	                  }" type="text" class="form-control" id="cc-advsearch-enddate" aria-required="true" placeholder="mm/dd/yyyy" aria-label="Start">
                    <label class="input-group-btn" for="cc-advsearch-enddate">
                      <span class="btn btn-default" type="button">
                        <span class="fa fa-calendar"></span>
                      </span>
                    </label>
                  </div>
                  <!-- ko if: !isEndDateValid() -->
                    <p class="text-danger" id="cc-advsearch-endDate-error"
                       data-bind="widgetLocaleText: 'dateValidation'">
                    </p>
                  <!-- /ko -->
                </div>
              </div>
              <div id="cc-addressText-container">
                <h4 class="agent-headerText" id="cc-order-search-addressText"
                  data-bind="widgetLocaleText: 'shippingBillingDetailsText'"></h4>
                <br />
              </div>
              <div class="row" id="cc-adv-search-searchIn">
                <div class="form-group col-md-3" id="cc-adv-search-searchIn-field">
                  <label for="cc-adv-search-options" id="cc-adv-search-type-text" class="control-label"
                  data-bind="widgetLocaleText: 'advancedSearchTypeText'"></label>
                  <select class="form-control" id="cc-adv-search-options"
                    data-bind="options: searchOptions,
                      value: searchType">
                  </select>
                </div>
              </div>
              <div class="row" id="cc-advsearch-firstname-lastname">
                <div class="form-group col-md-3" id="cc-advsearch-firstname-field">
                  <label for="cc-firstName" class="control-label"
                    data-bind="widgetLocaleText: 'firstNameText'"></label>
                  <input type="text" class="form-control" id="cc-firstName" name="firstNameText"
                    data-bind="value: billingFirstName, valueUpdate: 'afterkeydown'"/>
                </div>
                <div class="form-group col-md-3 col-md-offset-3" id="cc-advsearch-lastname-field">
                  <label for="cc-lastName" class="control-label"
                    data-bind="widgetLocaleText: 'lastNameText'" ></label>
                  <input type="text" class="form-control" id="cc-lastName"
                    name="lastNameText"
                      data-bind="value: billingLastName, valueUpdate: 'afterkeydown'"/>
                </div>
              </div>
              <div class = "row" id="cc-advsearch-addressLine1-addressLine2">
                <div class="form-group col-md-3 " id="cc-advsearch-addressLine1-field">
                  <label for="cc-addLine1" class="control-label"
                    data-bind="widgetLocaleText: 'addressLine1Text'"></label>
                  <input type="text" class="form-control" id="cc-addLine1" name="addressLine1Text"
                    data-bind="value: addressLine1, valueUpdate: 'afterkeydown'"/>
                </div>
                 <div class="form-group col-md-3 col-md-offset-3" id="cc-advsearch-addressLine2-field">
                  <label for="cc-addLine2" class="control-label"
                    data-bind="widgetLocaleText: 'addressLine2Text'"></label>
                  <input type="text" class="form-control" id="cc-addLine2" name="addressLine2Text"
                    data-bind="value: addressLine2, valueUpdate: 'afterkeydown'"/>
                </div>
              </div>
              <div class = "row" id="cc-advsearch-city-country">
                <div class="form-group col-md-3" id="cc-advsearch-city-field">
                  <label for="cc-city" class="control-label"
                    data-bind="widgetLocaleText: 'cityText'"></label>
                  <input type="text" class="form-control" id="cc-city" name="cityText"
                    data-bind="value: city, valueUpdate: 'afterkeydown'"/>
                </div>
                <div class="form-group col-md-3 col-md-offset-3" id="cc-advsearch-country-field">
                  <label for="cc-country" class="control-label"
                    data-bind="widgetLocaleText: 'countryText'"></label>
                  <select class="form-control" id="cc-country"
                    data-bind="options: $data.countries,
                      value: country,
                      optionsValue: function(item) { return item.countryCode; },
                      optionsText: function(item) { return item.displayName; },
                      optionsCaption: $data.resources().selectCountryText">
                  </select>
                </div>
              </div>
              <div class = "row" id="cc-advsearch-state-postalcode">
                <div class="form-group col-md-3" id="cc-advsearch-state">
                  <label for="cc-state" class="control-label"
                    data-bind="widgetLocaleText: 'stateText'"></label>
                  <select class="form-control" id="cc-state"
                    data-bind="options: $data.regions,
                      value: state,
                      optionsValue: function(item) { return item.abbreviation; },
                      optionsText: function(item) { return item.displayName; },
                      optionsCaption: $data.resources().selectStateText">
                  </select>
                </div>
                <div class="form-group col-md-3 col-md-offset-3" id="cc-advsearch-postalcode">
                  <label for="cc-postalCode" class="control-label"
                    data-bind="widgetLocaleText: 'zipCodeText'"></label>
                  <input type="text" class="form-control" id="cc-postalCode" name="postalCodeText"
                    data-bind="value: postalCode, valueUpdate: 'afterkeydown'"/>
                </div>
              </div>
              <div id="cc-agent-order-adv-search" class="oj-flex-bar">
                <div id="cc-adv-search-expansion-bottom" class="oj-flex-bar-start">
                  <span id="cc-link-to-adv-search-bottom" class="cc-anchor-icon">
                    <a id="cc-show-adv-search-link-bottom" href="javascript:void(0);" data-bind="click: $data.toggleAdvancedSearch.bind($data)">
                      <i id="cc-show-adv-search-img-bottom" class="fa cc-oj-hyperlink-color" data-bind="css: $data.isAdvancedSearch() ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                      <span id="cc-show-adv-search-text-bottom" class="cc-oj-hyperlink-color" data-bind="widgetLocaleText: $data.isAdvancedSearch() ? 'hideAdvancedSearchText' : 'showAdvancedSearchText'"></span>
                    </a>
                  </span>
                </div>
                <div class="oj-flex-bar-end pull-right" id="cc-advsearch-buttons">
                  <button type="button" id="cc-advsearch-reset-button" class="cc-button-secondary secondarybackground" data-bind="click: $data.resetBasicSearch.bind($data), enable: $data.enableResetButton()">
                    <span data-bind="widgetLocaleText:'buttonResetText'"></span>
                  </button>
                  <button type="submit" id="cc-advsearch-search-button" class="cc-button-primary primarybackground" data-bind="click: $data.performOrderSearch.bind($data), enable: $data.enableSearchButton()">
                    <span data-bind="widgetLocaleText:'buttonSearchText'"></span>
                  </button>
                </div>
              </div>
            </fieldset>
          </form>

      <!-- /ko -->

    <br/>
  </div>
    <div class="col-md-12 zero-pad"  id ="cc-orderSearch-results" >
    <!-- ko with: orderSearchViewModel -->
    <!-- ko if: isSearchPerformed -->
      <div class="col-md-12 table-responsive panel-body
                  table-layout-fixed-break-word">
        <div id="cc-order-search-result">
          <h3 data-bind="widgetLocaleText: 'orderResultsText'"></h3>
          <hr class="line agent-line" />
        </div>
        <!-- ko if: totalNumber() -->
         <div id="cc-paginated-controls-top" class="row">
           <div class="col-md-12">
             <div class="pull-right">
             </div>
           </div>
         </div>
         <table id="cc-order-search-results" summary="Order-search-Result"
            class="table-header-styling table table-bordered table-striped">
            <thead>
              <tr>
                <th class="text-center" scope="col" data-bind="widgetLocaleText: 'orderIdText'"></th>
                <th scope="col" data-bind="widgetLocaleText: 'submittedDateText'"></th>
                <th scope="col" data-bind="widgetLocaleText: 'orderStatusText'"></th>
                <th scope="col" data-bind="widgetLocaleText: 'firstNameText'"></th>
                <th scope="col" data-bind="widgetLocaleText: 'lastNameText'"></th>
                <th scope="col" data-bind="widgetLocaleText: 'accountText'"></th>
                <th scope="col" data-bind="widgetLocaleText: 'emailIdText'"></th>
                <th scope="col" data-bind="widgetLocaleText: 'orderTotalText'" class="text-right"></th>
              </tr>
            </thead>
            <tbody data-bind="foreach: currentOrders">
              <tr>
                <td class="text-center cc-text-overflow-table" scope="row">
                
                 <!--ko if: $parents[1].isSiteExists($data) -->                
                  	<a href="#" data-bind="attr: {id: 'cc-orderId-' + id}, 
                       text:id, click: $parents[1].clickOrderDetails.bind($parents[1], $data, id)">
                  	</a>
                  <!-- /ko -->
                  <!-- ko ifnot: $parents[1].isSiteExists($data) -->                  
                    <a href="javascript:void(0)"
                       data-bind="css: {'disabled-link': true}, 
                       			  attr:{id:'cc-orderId-' + id , 
                       			  'title': 'siteNotExistText'}"
                       class="cc-ws-normal">
                      <span data-bind="text: id"></span>                                   
                    </a>
                  <!-- /ko -->
                </td>
                <!-- ko if: submittedDate -->
                <td class="cc-text-overflow-table" data-bind="ccDateTime: {date: submittedDate, format: 'date',
                                   dateFormat: 'short'},
                               attr: {id: 'cc-orderSubmittedDate-' + id}">
                </td>
                <!-- /ko -->
                <!-- ko ifnot: submittedDate  -->
                  <td data-bind="text: ''"></td>
                <!-- /ko -->
                <td class="cc-text-overflow-table" data-bind="text: $parents[1].getStateLabel(stateString), attr: {id: 'cc-status-' + id,
                      'title': $parents[1].getStateLabel(stateString)}"></td>
                <!-- ko if: profile -->
                  <td class="cc-text-overflow-table" data-bind="text: profile.firstName, attr: {id: 'cc-firstName-' + id,
                      'title': profile.firstName}"></td>
                  <td class="cc-text-overflow-table" data-bind="text: profile.lastName, attr: {id: 'cc-lastName-' + id,
                      'title': profile.lastName}"></td>
                    <!-- ko if: organization -->
                      <td class="cc-text-overflow-table" data-bind="text:organization.name,
                                 attr: {id: 'cc-account-' + id }">
                      </td>
                    <!-- /ko -->
                    <!-- ko ifnot: organization -->
                      <td data-bind="text: ''"></td>
                    <!-- /ko -->
                  <td class="cc-text-overflow-table" data-bind="text: profile.customerEmail, attr: {id: 'cc-email-' + id,
                      'title': profile.customerEmail}"></td>
                <!-- /ko -->
                <!-- ko ifnot: profile -->
                  <td data-bind="text: ' ', attr: {id: 'cc-blankFirstName-' + id}"></td>
                  <td data-bind="text: ' ', attr: {id: 'cc-blankLastName-' + id}"></td>
                  <td data-bind="text: ' ', attr: {id: 'cc-blankEmail-' + id}"></td>
                  <td data-bind="text: ' ', attr: {id: 'cc-blankaccount-' + id}"></td>
                <!-- /ko -->
                <td class="text-right cc-text-overflow-table" >
                <!-- ko if: $data.hasOwnProperty("priceListGroup") -->
                <!-- Multicurrency order scenario-->
                <!-- ko if: $data.hasOwnProperty("payShippingInSecondaryCurrency") && $data.payShippingInSecondaryCurrency && $data.hasOwnProperty("payTaxInSecondaryCurrency")
                && $data.payTaxInSecondaryCurrency -->
                  <!-- ko if: $data.secondaryCurrency-->
                  <span data-bind="currency: {price: $data.priceInfo.primaryCurrencyTotal, currencyObj: $data.priceListGroup.currency}"></span><br>
                  <span data-bind="currency: {price: $data.priceInfo.secondaryCurrencyTotal, currencyObj: $data.secondaryCurrency, prependSymbol: '+'}"></span>
                  <!-- /ko -->
                <!-- /ko -->
                
                <!-- ko ifnot: $data.hasOwnProperty("payShippingInSecondaryCurrency") && $data.payShippingInSecondaryCurrency && $data.hasOwnProperty("payTaxInSecondaryCurrency")
                && $data.payTaxInSecondaryCurrency -->
                  <span data-bind="attr: {id: 'cc-total-' + id},
                                   currency: {price: total,
                                              currencyObj: priceListGroup.currency}">
                  </span>
                <!-- /ko -->
                <!-- /ko -->
                <!-- Added for backward compatiblity.Will be removed once all existing orders have price list group-->
                <!-- ko ifnot: $data.hasOwnProperty("priceListGroup") -->
                  <span  data-bind="attr: {id: 'cc-total-' + id},
                                    currency: {price: total,
                                              currencyObj: $parents[1].selectedCurrency()}">
                  </span>
                <!-- /ko -->
                </td>
              </tr>
            </tbody>
          </table>
          <div id="cc-paginated-controls-bottom" class="row">
            <div class="col-md-12">
              <div class="pull-right">
                <div class="bottom-margin" data-bind="visible: (totalNumberOfPages() > 1),
                                                      template: { name: $parent.templateAbsoluteUrl('/templates/paginationControls.template') , templateUrl: ''}">
                </div>
              </div>
            </div>
          </div>
        <!-- /ko -->
        <!-- ko if: (!totalNumber() && isSearchPerformed) -->
          <div>
            <span data-bind="widgetLocaleText: 'ordersNotFoundText',
                 attr: {'aria-label': $parent.resources().customerNotFoundText}" 
                 role="status" aria-live="polite" id="cc-ordersNotFound-text">
            </span>
          </div>
        <!-- /ko -->
      </div>
    <!-- /ko -->
    <!-- /ko -->
  </div>
    </div>
<!-- /ko -->