<button class="cc-button-secondary" tabindex="0" data-bind=" enable: $parent.orderDetailsWrapper.isRequoteAllowed(), click: requestRequote">
  <span data-bind="widgetLocaleText: 'buttonReRequestQuote'"></span>
</button>